
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
  <head>
    <meta charset="utf-8" />
<noscript><meta http-equiv="Refresh" content="0; URL=/big_pipe/no-js?destination=/node/add/article" />
</noscript><meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/vnd.microsoft.icon" />

    <title>Create Article | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_snfhXzQqxaKMOQlBgxXYkHJB1cMUf1C5JJV48BO13V0.css" />
<link rel="stylesheet" media="screen" href="/css/css_rppRGD_OoHfR_SJsouUbDXbYqdDsbR40sRSsm5MvFnw.css" />
<link rel="stylesheet" media="all" href="/css/css_Pu11MeWtJ1-h3i02kU0xNbmmzKP0hbTh8shocv4uaOQ.css" />
<link rel="stylesheet" media="all" href="/css/css_6lfcEntHjRpAK8NQZyzbxnwQr-frLD9vrVFzjaNUgFg.css" />

    <script src="/js/modernizr.min.js?v=3.8.0"></script>
<script src="/js/modernizr-additional-tests.js?v=3.8.0"></script>

  </head>
  <body class="toolbar-tray-open toolbar-horizontal toolbar-fixed toolbar-loading user-logged-in path-node">
        <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
    <div id="toolbar-administration" role="group" aria-label="Site administration toolbar" class="toolbar">
  <nav id="toolbar-bar" role="navigation" aria-label="Toolbar items" class="toolbar-bar clearfix">
    <h2 class="visually-hidden">Toolbar items</h2>
                <div class="home-toolbar-tab toolbar-tab">
        <a href="/" title="Return to site content" class="toolbar-icon toolbar-icon-escape-admin toolbar-item" data-toolbar-escape-admin>Back to site</a>
        <div><nav class="toolbar-lining clearfix" role="navigation"></nav></div>      </div>
                <div class="toolbar-tab">
        <a href="/admin" title="Admin menu" class="toolbar-icon toolbar-icon-menu trigger toolbar-item" data-drupal-subtrees="" id="toolbar-item-administration" data-toolbar-tray="toolbar-item-administration-tray" role="button" aria-pressed="false">Manage</a>
        <div id="toolbar-item-administration-tray" data-toolbar-tray="toolbar-item-administration-tray" class="toolbar-tray"><nav class="toolbar-lining clearfix" role="navigation" aria-label="Administration menu"><h3 class="toolbar-tray-name visually-hidden">Administration menu</h3><div class="toolbar-menu-administration"><ul class="toolbar-menu"><li class="menu-item menu-item--collapsed"><a href="/admin/content" title="Find and manage content." id="toolbar-link-system-admin_content" class="toolbar-icon toolbar-icon-system-admin-content" data-drupal-link-system-path="admin/content">Content</a></li><li class="menu-item menu-item--collapsed"><a href="/admin/structure" title="Administer blocks, content types, menus, etc." id="toolbar-link-system-admin_structure" class="toolbar-icon toolbar-icon-system-admin-structure" data-drupal-link-system-path="admin/structure">Structure</a></li><li class="menu-item"><a href="/admin/appearance" title="Select and configure themes." id="toolbar-link-system-themes_page" class="toolbar-icon toolbar-icon-system-themes-page" data-drupal-link-system-path="admin/appearance">Appearance</a></li><li class="menu-item"><a href="/admin/modules" title="Add and enable modules to extend site functionality." id="toolbar-link-system-modules_list" class="toolbar-icon toolbar-icon-system-modules-list" data-drupal-link-system-path="admin/modules">Extend</a></li><li class="menu-item menu-item--collapsed"><a href="/admin/config" title="Administer settings." id="toolbar-link-system-admin_config" class="toolbar-icon toolbar-icon-system-admin-config" data-drupal-link-system-path="admin/config">Configuration</a></li><li class="menu-item"><a href="/admin/people" title="Manage user accounts, roles, and permissions." id="toolbar-link-entity-user-collection" class="toolbar-icon toolbar-icon-entity-user-collection" data-drupal-link-system-path="admin/people">People</a></li><li class="menu-item menu-item--collapsed"><a href="/admin/reports" title="View reports, updates, and errors." id="toolbar-link-system-admin_reports" class="toolbar-icon toolbar-icon-system-admin-reports" data-drupal-link-system-path="admin/reports">Reports</a></li><li class="menu-item"><a href="/admin/help" title="Reference for usage, configuration, and modules." id="toolbar-link-help-main" class="toolbar-icon toolbar-icon-help-main" data-drupal-link-system-path="admin/help">Help</a></li></ul></div></nav></div>      </div>
                <div class="toolbar-tab">
        <a href="/admin/config/user-interface/shortcut" title="Shortcuts" class="toolbar-icon toolbar-icon-shortcut trigger toolbar-item" id="toolbar-item-shortcuts" data-toolbar-tray="toolbar-item-shortcuts-tray" role="button" aria-pressed="false">Shortcuts</a>
        <div id="toolbar-item-shortcuts-tray" data-toolbar-tray="toolbar-item-shortcuts-tray" class="toolbar-tray"><nav class="toolbar-lining clearfix" role="navigation" aria-label="User-defined shortcuts"><h3 class="toolbar-tray-name visually-hidden">User-defined shortcuts</h3><span data-big-pipe-placeholder-id="callback=shortcut.lazy_builders%3AlazyLinks&amp;&amp;token=N1997Wch59v-LxHku3-dD44wjkSNmhegNzlZ8jS0L5I"></span></nav></div>      </div>
                <div class="hidden contextual-toolbar-tab toolbar-tab">
        <button class="toolbar-icon toolbar-icon-edit toolbar-item" aria-pressed="false" type="button">Edit</button>

        <div><nav class="toolbar-lining clearfix" role="navigation"></nav></div>      </div>
                <div class="tour-toolbar-tab hidden toolbar-tab" id="toolbar-tab-tour">
        <button class="toolbar-icon toolbar-icon-help toolbar-item" aria-pressed="false" type="button">Tour</button>

        <div><nav class="toolbar-lining clearfix" role="navigation"></nav></div>      </div>
                <div class="toolbar-tab">
        <a href="/user" title="My account" class="toolbar-icon toolbar-icon-user trigger toolbar-item" id="toolbar-item-user" data-toolbar-tray="toolbar-item-user-tray" role="button" aria-pressed="false"><span data-big-pipe-placeholder-id="callback=user.toolbar_link_builder%3ArenderDisplayName&amp;&amp;token=-MH2NzEnTzbzMk0ZGfGgoiw7G3j_-Q1ILWBRVhIOKLI"></span></a>
        <div id="toolbar-item-user-tray" data-toolbar-tray="toolbar-item-user-tray" class="toolbar-tray"><nav class="toolbar-lining clearfix" role="navigation" aria-label="User account actions"><h3 class="toolbar-tray-name visually-hidden">User account actions</h3><span data-big-pipe-placeholder-id="callback=user.toolbar_link_builder%3ArenderToolbarLinks&amp;&amp;token=xssKdKFVFD7N0FUPPcC1C7LrqMHpQFVzUhrI4cOeEgs"></span></nav></div>      </div>
      </nav>

</div>

      <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
      <header class="content-header clearfix">
    <div class="layout-container">
        <div class="region region-header">
    <div id="block-seven-page-title" class="block block-core block-page-title-block">



  <h1 class="js-quickedit-page-title page-title">Create Article</h1>
<a href="/admin/config/user-interface/shortcut/link/7/delete-inline?link=node/add/article&amp;name=Create%20Article&amp;id=7&amp;destination=/node/add/article&amp;token=HQqepyfrdU3qcmz9zjedM4sumvzih7SvRN8unCi9Enc" class="shortcut-action shortcut-action--remove"><span class="shortcut-action__icon"></span><span class="shortcut-action__message">Remove from <em class="placeholder">Default</em> shortcuts</span></a>

  </div>
<span data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=seven_primary_local_tasks&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=a0QU9R7U3rrhnUCBrPU-bd9dV3EpZJLPiULoZ5dL2sM"></span>
  </div>

    </div>
  </header>

  <div class="layout-container">
      <div class="region region-pre-content">
    <span data-big-pipe-placeholder-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=seven_secondary_local_tasks&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=cyyNAH_dXhG-WLG0tmHf2K1rQEmj-LtV0bgMz0_7Om8"></span>
  </div>

      <div class="region region-breadcrumb">
    <div id="block-seven-breadcrumbs" class="block block-system block-system-breadcrumb-block">


        <nav class="breadcrumb" role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">Breadcrumb</h2>
    <ol>
          <li>
                  <a href="/">Home</a>
              </li>
          <li>
                  <a href="/node/add">Add content</a>
              </li>
        </ol>
  </nav>

  </div>

  </div>

    <main class="page-content clearfix" role="main">
      <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
        <div class="region region-highlighted">
    <div data-drupal-messages-fallback class="hidden"></div><span data-big-pipe-placeholder-id="callback=Drupal%5CCore%5CRender%5CElement%5CStatusMessages%3A%3ArenderMessages&amp;args%5B0%5D&amp;token=_HAdUpwWmet0TOTe2PSiJuMntExoshbm1kh2wQzzzAA"></span>

  </div>

              <div class="help">

        </div>
              <div class="region region-content">
    <div id="block-seven-content" class="block block-system block-system-main-block">


      <form class="node-article-form node-form" data-drupal-selector="node-article-form" enctype="multipart/form-data" action="/node/add/article" method="post" id="node-article-form" accept-charset="UTF-8">
  <div class="layout-node-form clearfix">
  <div class="layout-region layout-region-node-main">
    <input data-drupal-selector="edit-changed" type="hidden" name="changed" value="1656677155" />
<div class="field--type-string field--name-title field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-title-wrapper" id="edit-title-wrapper">      <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-title-0-value form-item-title-0-value">
      <label for="edit-title-0-value" class="js-form-required form-required">Title</label>
        <input class="js-text-full text-full form-text required" data-drupal-selector="edit-title-0-value" type="text" id="edit-title-0-value" name="title[0][value]" value="" size="60" maxlength="255" placeholder="" required="required" aria-required="true" />

        </div>

  </div>
<input autocomplete="off" data-drupal-selector="form-v-jbg0ytfmwdtfei862k8bvubo1hi67v149p-4f4rxy" type="hidden" name="form_build_id" value="form-v_jbg0YtFMwDtFEi862K8bVUbo1Hi67v149P_4f4rXY" />
<input data-drupal-selector="edit-node-article-form-form-token" type="hidden" name="form_token" value="6IK0fMgMYCbUQfmjiN2aT8FgTW2QOW5hQRlrbSS30aY" />
<input data-drupal-selector="edit-node-article-form" type="hidden" name="form_id" value="node_article_form" />
<div class="field--type-text-with-summary field--name-body field--widget-text-textarea-with-summary js-form-wrapper form-wrapper" data-drupal-selector="edit-body-wrapper" id="edit-body-wrapper">      <div class="js-text-format-wrapper text-format-wrapper js-form-item form-item">
  <div class="js-text-summary-wrapper text-summary-wrapper"><div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-body-0-summary form-item-body-0-summary">
      <label for="edit-body-0-summary">Summary</label>
        <div class="form-textarea-wrapper">
  <textarea class="js-text-summary text-summary form-textarea resize-vertical" data-drupal-selector="edit-body-0-summary" aria-describedby="edit-body-0-summary--description" id="edit-body-0-summary" name="body[0][summary]" rows="3" cols="60"></textarea>
</div>

            <div id="edit-body-0-summary--description" class="description">
      Leave blank to use trimmed value of full text as the summary.
    </div>
  </div>
</div><div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-body-0-value form-item-body-0-value">
      <label for="edit-body-0-value">Body</label>
        <div class="form-textarea-wrapper">
  <textarea class="js-text-full text-full form-textarea resize-vertical" data-media-embed-host-entity-langcode="en" data-drupal-selector="edit-body-0-value" id="edit-body-0-value" name="body[0][value]" rows="9" cols="60" placeholder=""></textarea>
</div>

        </div>
<div class="js-filter-wrapper js-form-wrapper form-wrapper filter-wrapper" data-drupal-selector="edit-body-0-format" id="edit-body-0-format"><div data-drupal-selector="edit-body-0-format-help" id="edit-body-0-format-help" class="js-form-wrapper form-wrapper filter-help"><a href="/filter/tips" target="_blank" data-drupal-selector="edit-body-0-format-help-about" id="edit-body-0-format-help-about">About text formats</a></div>
<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-body-0-format form-item-body-0-format">
      <label for="edit-body-0-format--2">Text format</label>
        <select class="js-filter-list editor form-select" data-drupal-selector="edit-body-0-format" data-editor-for="edit-body-0-value" id="edit-body-0-format--2" name="body[0][format]"><option value="full_html" selected="selected">Full HTML</option><option value="basic_html">Basic HTML</option><option value="restricted_html">Restricted HTML</option></select>
        </div>
<div class="js-filter-guidelines js-form-wrapper form-wrapper filter-guidelines" data-drupal-selector="edit-body-0-format-guidelines" id="edit-body-0-format-guidelines"><div data-drupal-format-id="restricted_html" class="filter-guidelines-item filter-guidelines-restricted_html">
  <h4 class="label">Restricted HTML</h4>



          <ul class="tips">
                      <li>Allowed HTML tags: &lt;a href hreflang&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;blockquote cite&gt; &lt;code&gt; &lt;ul type&gt; &lt;ol start type&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt; &lt;h2 id&gt; &lt;h3 id&gt; &lt;h4 id&gt; &lt;h5 id&gt; &lt;h6 id&gt;</li>
                      <li>Lines and paragraphs break automatically.</li>
                      <li>Web page addresses and email addresses turn into links automatically.</li>
            </ul>



</div>
</div>
</div>

  </div>

  </div>
<div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper">
  </div>
<div class="field--type-entity-reference field--name-field-tags field--widget-entity-reference-autocomplete-tags js-form-wrapper form-wrapper" data-drupal-selector="edit-field-tags-wrapper" id="edit-field-tags-wrapper"><div class="js-form-item form-item js-form-type-entity-autocomplete form-type-entity-autocomplete js-form-item-field-tags-target-id form-item-field-tags-target-id">
      <label for="edit-field-tags-target-id">Tags</label>
        <input data-drupal-selector="edit-field-tags-target-id" aria-describedby="edit-field-tags-target-id--description" class="form-autocomplete form-text" data-autocomplete-path="/entity_reference_autocomplete/taxonomy_term/default%3Ataxonomy_term/wAWCanMH6OF9hCx581Mrr9I1YHKgyxoM2ScUkmTXHUU" type="text" id="edit-field-tags-target-id" name="field_tags[target_id]" size="60" maxlength="1024" placeholder="" />

            <div id="edit-field-tags-target-id--description" class="description">
      Enter a comma-separated list. For example: Amsterdam, Mexico City, "Cleveland, Ohio"
    </div>
  </div>
</div>
<div class="field--type-image field--name-field-image field--widget-image-image js-form-wrapper form-wrapper" data-drupal-selector="edit-field-image-wrapper" id="edit-field-image-wrapper"><div id="edit-field-image-ajax-wrapper"><details data-drupal-selector="edit-field-image" id="edit-field-image" class="js-form-wrapper form-wrapper seven-details" open="open">    <summary role="button" aria-controls="edit-field-image" aria-expanded="true" aria-pressed="true" class="seven-details__summary">
      <span>Images</span>
    </summary><div class="seven-details__wrapper details-wrapper">

<div class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-field-image-0 form-item-field-image-0">
      <label for="edit-field-image-0-upload" id="edit-field-image-0--label">Add a new file</label>


<div class="image-widget js-form-managed-file form-managed-file clearfix">
    <div class="image-widget-data">
        <input accept="image/*" data-drupal-selector="edit-field-image-0-upload" multiple="multiple" type="file" id="edit-field-image-0-upload" name="files[field_image_0][]" size="22" class="js-form-file form-file" />
<input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-field-image-0-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-field-image-0-upload-button" name="field_image_0_upload_button" value="Upload" />
<input data-drupal-selector="edit-field-image-0-weight" type="hidden" name="field_image[0][_weight]" value="0" />
<input data-drupal-selector="edit-field-image-0-fids" type="hidden" name="field_image[0][fids]" />
<input data-drupal-selector="edit-field-image-0-display" type="hidden" name="field_image[0][display]" value="1" />

  </div>
</div>

            <div id="edit-field-image-0--description" class="description">
      Maximum 15 files.<br />2 MB limit.<br />Allowed types: png gif jpg jpeg.

    </div>
  </div>

</div>
</details>
</div></div>
<div class="field--type-comment field--name-comment field--widget-comment-default js-form-wrapper form-wrapper" data-drupal-selector="edit-comment-wrapper" id="edit-comment-wrapper">
  </div>
<div class="field--type-path field--name-path field--widget-path js-form-wrapper form-wrapper" data-drupal-selector="edit-path-wrapper" id="edit-path-wrapper">
  </div>
<div class="field--type-image field--name-field-featured-image field--widget-image-image js-form-wrapper form-wrapper" data-drupal-selector="edit-field-featured-image-wrapper" id="edit-field-featured-image-wrapper"><div id="ajax-wrapper"><div class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-field-featured-image-0 form-item-field-featured-image-0">
      <label for="edit-field-featured-image-0-upload" id="edit-field-featured-image-0--label">Featured Image</label>


<div class="image-widget js-form-managed-file form-managed-file clearfix">
    <div class="image-widget-data">
        <input accept="image/*" data-drupal-selector="edit-field-featured-image-0-upload" type="file" id="edit-field-featured-image-0-upload" name="files[field_featured_image_0]" size="22" class="js-form-file form-file" />
<input class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-field-featured-image-0-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-field-featured-image-0-upload-button" name="field_featured_image_0_upload_button" value="Upload" />
<input data-drupal-selector="edit-field-featured-image-0-fids" type="hidden" name="field_featured_image[0][fids]" />
<input data-drupal-selector="edit-field-featured-image-0-display" type="hidden" name="field_featured_image[0][display]" value="1" />

  </div>
</div>

            <div id="edit-field-featured-image-0--description" class="description">
      One file only.<br />2 MB limit.<br />Allowed types: png gif jpg jpeg.

    </div>
  </div>
</div></div>

  </div>
  <div class="layout-region layout-region-node-secondary">
    <div class="entity-meta js-form-wrapper form-wrapper" data-drupal-selector="edit-advanced" id="edit-advanced"><div class="entity-meta__header js-form-wrapper form-wrapper" data-drupal-selector="edit-meta" id="edit-meta"><div class="entity-meta__last-saved container-inline js-form-item form-item js-form-type-item form-type-item js-form-item-meta-changed form-item-meta-changed" id="edit-meta-changed">
      <label for="edit-meta-changed">Last saved</label>
        Not saved yet
        </div>
<div class="entity-meta__author container-inline js-form-item form-item js-form-type-item form-type-item js-form-item-meta-author form-item-meta-author" id="edit-meta-author">
      <label for="edit-meta-author">Author</label>
        Assumpta
        </div>
<div class="entity-content-form-revision-information js-form-wrapper form-wrapper" data-drupal-selector="edit-revision-information" id="edit-revision-information"><div class="field--type-string-long field--name-revision-log field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-revision-log-wrapper" data-drupal-states="{&quot;visible&quot;:{&quot;:input[name=\u0022revision\u0022]&quot;:{&quot;checked&quot;:true}}}" id="edit-revision-log-wrapper">      <div class="js-form-item form-item js-form-type-textarea form-type-textarea js-form-item-revision-log-0-value form-item-revision-log-0-value">
      <label for="edit-revision-log-0-value">Revision log message</label>
        <div class="form-textarea-wrapper">
  <textarea class="js-text-full text-full form-textarea resize-vertical" data-drupal-selector="edit-revision-log-0-value" aria-describedby="edit-revision-log-0-value--description" id="edit-revision-log-0-value" name="revision_log[0][value]" rows="4" cols="60" placeholder=""></textarea>
</div>

            <div id="edit-revision-log-0-value--description" class="description">
      Briefly describe the changes you have made.
    </div>
  </div>

  </div>
</div>
</div>
<details class="menu-link-form js-form-wrapper form-wrapper seven-details" data-drupal-selector="edit-menu" id="edit-menu">    <summary role="button" aria-controls="edit-menu" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
      <span>Menu settings</span>
    </summary><div class="seven-details__wrapper details-wrapper">
    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-menu-enabled form-item-menu-enabled">
        <input data-drupal-selector="edit-menu-enabled" type="checkbox" id="edit-menu-enabled" name="menu[enabled]" value="1" class="form-checkbox" />

        <label for="edit-menu-enabled" class="option">Provide a menu link</label>
      </div>
<div data-drupal-selector="edit-menu" data-drupal-states="{&quot;invisible&quot;:{&quot;input[name=\u0022menu[enabled]\u0022]&quot;:{&quot;checked&quot;:false}}}" id="edit-menu--2" class="js-form-wrapper form-wrapper"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-menu-title form-item-menu-title">
      <label for="edit-menu-title">Menu link title</label>
        <input data-drupal-selector="edit-menu-title" type="text" id="edit-menu-title" name="menu[title]" value="" size="60" maxlength="255" class="form-text" />

        </div>
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-menu-description form-item-menu-description">
      <label for="edit-menu-description">Description</label>
        <input data-drupal-selector="edit-menu-description" aria-describedby="edit-menu-description--description" type="text" id="edit-menu-description" name="menu[description]" value="" size="60" maxlength="255" class="form-text" />

            <div id="edit-menu-description--description" class="description">
      Shown when hovering over the menu link.
    </div>
  </div>
<div class="js-form-item form-item js-form-type-select form-type-select js-form-item-menu-menu-parent form-item-menu-menu-parent">
      <label for="edit-menu-menu-parent">Parent link</label>
        <select class="menu-parent-select form-select" data-drupal-selector="edit-menu-menu-parent" id="edit-menu-menu-parent" name="menu[menu_parent]"><option value="main:" selected="selected">&lt;Main navigation&gt;</option><option value="main:standard.front_page">-- Home</option><option value="main:menu_link_content:b039bad2-3aaa-4752-b926-7862a1308023">-- About</option><option value="main:menu_link_content:acbea792-b5fe-45bf-8c09-84a7b5412d46">---- Overview</option><option value="main:menu_link_content:dc66e796-a8dc-4d0b-81aa-c4710971ee76">---- Company Profile</option><option value="main:views_view:views.management_team.page_1">---- Management Team</option><option value="main:views_view:views.faq.page_1">---- FAQ</option><option value="main:menu_link_content:69761844-dd47-4c93-9b76-da2afead8772">---- our water</option><option value="main:menu_link_content:e8ad9a89-0d02-4c51-a73c-869e83739a73">-- Services</option><option value="main:menu_link_content:3bbebf53-72d4-43f5-92f7-cd401a473a8d">---- Water Supply</option><option value="main:menu_link_content:ef7fe164-fbb5-4caa-983d-eb7d0fe591fd">---- Sewerage/Sanitation</option><option value="main:menu_link_content:a9cbd32b-90d6-494e-91a6-c245969bd517">---- Coverage/Reticulation Map</option><option value="main:views_view:views.news.page_1">-- News</option><option value="main:menu_link_content:bff0e105-ffae-4897-bf08-8531aa618903">-- Media</option><option value="main:menu_link_content:8e19319e-842d-4826-b55f-b8fd5e710261">---- Gallery (disabled)</option><option value="main:menu_link_content:1cadc923-13ab-4f51-94b7-5ddb1ae784a3">---- Press Release (disabled)</option><option value="main:views_view:views.gallery.page_1">---- Gallery</option><option value="main:menu_link_content:80d5dccb-be7a-4915-8177-2923c648c7c9">---- Library (disabled)</option><option value="main:views_view:views.document_library.page_1">---- Library</option><option value="main:menu_link_content:6cfbaa28-9ce4-44ed-b4aa-b2d06dfc9a2b">---- Videos</option><option value="main:menu_link_content:f2e18cbe-aaa3-4232-8835-b1b32e8f0704">---- Advertisement</option><option value="main:menu_link_content:b49a8981-b78a-4aed-9a59-8c61330c69b2">-- Customer</option><option value="main:menu_link_content:0ddba437-ed2c-4236-bbe4-422ab4888645">---- Pay</option><option value="main:views_view:views.water_schemes.page_1">---- Find Station</option><option value="main:views_view:views.tariffs.page_1">---- Tariffs</option><option value="main:menu_link_content:382ed29e-d0f0-4aba-a426-d9c9915d1766">---- Tarriffs (disabled)</option><option value="main:menu_link_content:49ebf769-7255-43cf-81bb-e9489770e325">-- Contact Us</option><option value="main:menu_link_content:a9488a77-358e-4419-977f-774bbe94628a">-- Login</option><option value="main:menu_link_content:46b51995-a05e-44f1-92ce-93081eebb2f7">-- water (disabled)</option></select>
        </div>
<div class="js-form-item form-item js-form-type-number form-type-number js-form-item-menu-weight form-item-menu-weight">
      <label for="edit-menu-weight">Weight</label>
        <input data-drupal-selector="edit-menu-weight" aria-describedby="edit-menu-weight--description" type="number" id="edit-menu-weight" name="menu[weight]" value="0" step="1" class="form-number" />

            <div id="edit-menu-weight--description" class="description">
      Menu links with lower weights are displayed before links with higher weights.
    </div>
  </div>
</div>
</div>
</details>
<details class="comment-node-settings-form js-form-wrapper form-wrapper seven-details" data-drupal-selector="edit-comment-0" id="edit-comment-0">    <summary role="button" aria-controls="edit-comment-0" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
      <span>Comment settings</span>
    </summary><div class="seven-details__wrapper details-wrapper">
    <fieldset data-drupal-selector="edit-comment-0-status" id="edit-comment-0-status--wrapper" class="fieldgroup form-composite js-form-item form-item js-form-wrapper form-wrapper">
      <legend>
    <span class="visually-hidden fieldset-legend">Comments</span>
  </legend>
  <div class="fieldset-wrapper">
            <div id="edit-comment-0-status" class="form-radios"><div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-comment-0-status form-item-comment-0-status">
        <input data-drupal-selector="edit-comment-0-status-2" aria-describedby="edit-comment-0-status-2--description" type="radio" id="edit-comment-0-status-2" name="comment[0][status]" value="2" checked="checked" class="form-radio" />

        <label for="edit-comment-0-status-2" class="option">Open</label>
          <div id="edit-comment-0-status-2--description" class="description">
      Users with the "Post comments" permission can post comments.
    </div>
  </div>
<div class="js-form-item form-item js-form-type-radio form-type-radio js-form-item-comment-0-status form-item-comment-0-status">
        <input data-drupal-selector="edit-comment-0-status-1" aria-describedby="edit-comment-0-status-1--description" type="radio" id="edit-comment-0-status-1" name="comment[0][status]" value="1" class="form-radio" />

        <label for="edit-comment-0-status-1" class="option">Closed</label>
          <div id="edit-comment-0-status-1--description" class="description">
      Users cannot post comments.
    </div>
  </div>
</div>

          </div>
</fieldset>
</div>
</details>
<details class="path-form js-form-wrapper form-wrapper seven-details" data-drupal-selector="edit-path-0" id="edit-path-0">    <summary role="button" aria-controls="edit-path-0" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
      <span>URL alias</span>
    </summary><div class="seven-details__wrapper details-wrapper">
    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-path-0-pathauto form-item-path-0-pathauto">
        <input data-drupal-selector="edit-path-0-pathauto" aria-describedby="edit-path-0-pathauto--description" type="checkbox" id="edit-path-0-pathauto" name="path[0][pathauto]" value="1" checked="checked" class="form-checkbox" />

        <label for="edit-path-0-pathauto" class="option">Generate automatic URL alias</label>
          <div id="edit-path-0-pathauto--description" class="description">
      Uncheck this to create a custom alias below. <a href="/admin/config/search/path/patterns">Configure URL alias patterns.</a>
    </div>
  </div>
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-path-0-alias form-item-path-0-alias">
      <label for="edit-path-0-alias">URL alias</label>
        <input data-drupal-selector="edit-path-0-alias" aria-describedby="edit-path-0-alias--description" type="text" id="edit-path-0-alias" name="path[0][alias]" value="" size="60" maxlength="255" class="form-text" data-drupal-states="{&quot;disabled&quot;:{&quot;input[name=\u0022path[0][pathauto]\u0022]&quot;:{&quot;checked&quot;:true}}}" />

            <div id="edit-path-0-alias--description" class="description">
      Specify an alternative path by which this data can be accessed. For example, type "/about" when writing an about page.
    </div>
  </div>
</div>
</details>
<details class="node-form-author js-form-wrapper form-wrapper seven-details" data-drupal-selector="edit-author" id="edit-author">    <summary role="button" aria-controls="edit-author" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
      <span>Authoring information</span>
    </summary><div class="seven-details__wrapper details-wrapper">
    <div class="field--type-entity-reference field--name-uid field--widget-entity-reference-autocomplete js-form-wrapper form-wrapper" data-drupal-selector="edit-uid-wrapper" id="edit-uid-wrapper">      <div class="js-form-item form-item js-form-type-entity-autocomplete form-type-entity-autocomplete js-form-item-uid-0-target-id form-item-uid-0-target-id">
      <label for="edit-uid-0-target-id">Authored by</label>
        <input data-drupal-selector="edit-uid-0-target-id" aria-describedby="edit-uid-0-target-id--description" class="form-autocomplete form-text" data-autocomplete-path="/entity_reference_autocomplete/user/default/p0jsdVb-mdNOVOLm0Hqhal3a2T8PtvzrtwIPv8mb6s0" type="text" id="edit-uid-0-target-id" name="uid[0][target_id]" value="Assumpta (40)" size="60" maxlength="1024" placeholder="" />

            <div id="edit-uid-0-target-id--description" class="description">
      The username of the content author.
    </div>
  </div>

  </div>
<div class="field--type-created field--name-created field--widget-datetime-timestamp js-form-wrapper form-wrapper" data-drupal-selector="edit-created-wrapper" id="edit-created-wrapper">        <h4 class="label">Authored on</h4>
<div id="edit-created-0-value" data-drupal-field-elements="date-time" class="container-inline">
  <div class="js-form-item form-item js-form-type-date form-type-date js-form-item-created-0-value-date form-item-created-0-value-date form-no-label">
      <label for="edit-created-0-value-date" class="visually-hidden">Date</label>
        <input data-drupal-selector="edit-created-0-value-date" aria-describedby="edit-created-0-value--description" title="Date (e.g. 2022-07-01)" type="date" min="1902-01-01" max="2037-12-31" data-drupal-date-format="Y-m-d" placeholder="YYYY-MM-DD" data-help="Enter the date using the format YYYY-MM-DD (e.g., 2022-07-01)." id="edit-created-0-value-date" name="created[0][value][date]" value="2022-07-01" size="12" class="form-date" />

        </div>
<div class="js-form-item form-item js-form-type-date form-type-date js-form-item-created-0-value-time form-item-created-0-value-time form-no-label">
      <label for="edit-created-0-value-time" class="visually-hidden">Time</label>
        <input data-drupal-selector="edit-created-0-value-time" aria-describedby="edit-created-0-value--description" title="Time (e.g. 13:05:55)" type="time" step="1" placeholder="hh:mm:ss" data-help="Enter the time using the format hh:mm:ss (e.g., 13:05:55)." id="edit-created-0-value-time" name="created[0][value][time]" value="13:05:55" size="12" class="form-time" />

        </div>

</div>

  <div id="edit-created-0-value--description" data-drupal-field-elements="description" class="description">
    Format: <em class="placeholder">2022-07-01 13:05:55</em>. Leave blank to use the time of form submission.
  </div>

  </div>
</div>
</details>
<details class="node-form-options js-form-wrapper form-wrapper seven-details" data-drupal-selector="edit-options" id="edit-options">    <summary role="button" aria-controls="edit-options" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
      <span>Promotion options</span>
    </summary><div class="seven-details__wrapper details-wrapper">
    <div class="field--type-boolean field--name-promote field--widget-boolean-checkbox js-form-wrapper form-wrapper" data-drupal-selector="edit-promote-wrapper" id="edit-promote-wrapper"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-promote-value form-item-promote-value">
        <input data-drupal-selector="edit-promote-value" type="checkbox" id="edit-promote-value" name="promote[value]" value="1" checked="checked" class="form-checkbox" />

        <label for="edit-promote-value" class="option">Promoted to front page</label>
      </div>
</div>
<div class="field--type-boolean field--name-sticky field--widget-boolean-checkbox js-form-wrapper form-wrapper" data-drupal-selector="edit-sticky-wrapper" id="edit-sticky-wrapper"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-sticky-value form-item-sticky-value">
        <input data-drupal-selector="edit-sticky-value" type="checkbox" id="edit-sticky-value" name="sticky[value]" value="1" class="form-checkbox" />

        <label for="edit-sticky-value" class="option">Sticky at top of lists</label>
      </div>
</div>
</div>
</details>
</div>

  </div>
  <div class="layout-region layout-region-node-footer">
    <div class="layout-region-node-footer__content">
      <div class="entity-content-form-footer js-form-wrapper form-wrapper" data-drupal-selector="edit-footer" id="edit-footer"><div class="field--type-boolean field--name-status field--widget-boolean-checkbox js-form-wrapper form-wrapper" data-drupal-selector="edit-status-wrapper" id="edit-status-wrapper"><div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-status-value form-item-status-value">
        <input data-drupal-selector="edit-status-value" type="checkbox" id="edit-status-value" name="status[value]" value="1" checked="checked" class="form-checkbox" />

        <label for="edit-status-value" class="option">Published</label>
      </div>
</div>
</div>

      <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Save" class="button button--primary js-form-submit form-submit" />
<input data-drupal-selector="edit-preview" type="submit" id="edit-preview" name="op" value="Preview" class="button js-form-submit form-submit" />
</div>

    </div>
  </div>
</div>

</form>

  </div>

  </div>

    </main>

  </div>

  </div>



  <script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/add\/article","currentPathIsAdmin":true,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"big_pipe\/big_pipe,ckeditor\/drupal.ckeditor,ckeditor\/drupal.ckeditor.plugins.drupalimagecaption,comment\/drupal.comment,contextual\/drupal.contextual-links,contextual\/drupal.contextual-toolbar,core\/drupal.active-link,core\/drupal.autocomplete,core\/drupal.collapse,core\/drupal.date,core\/drupal.states,core\/jquery.form,core\/normalize,file\/drupal.file,filter\/drupal.filter,menu_ui\/drupal.menu_ui,node\/drupal.node,path\/drupal.path,pathauto\/widget,seven\/classy.image-widget,seven\/classy.messages,seven\/global-styling,seven\/node-form,shortcut\/drupal.shortcut,text\/drupal.text,toolbar\/toolbar,toolbar\/toolbar.escapeAdmin,tour\/tour,user\/drupal.user.icons","theme":"seven","theme_token":"AOB9UXvDBORcl7Nk3PFszuk7Bb9jx47fln5YmfvunzM"},"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true,"\/node\/add\/article?element_parents=field_featured_image\/widget\/0\u0026ajax_form=1":true,"\/node\/add\/article?element_parents=field_image\/widget\u0026ajax_form=1":true},"ckeditor":{"timestamp":"qri5tc"},"bigPipePlaceholderIds":{"callback=Drupal%5CCore%5CRender%5CElement%5CStatusMessages%3A%3ArenderMessages\u0026args%5B0%5D\u0026token=_HAdUpwWmet0TOTe2PSiJuMntExoshbm1kh2wQzzzAA":true,"callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder\u0026args%5B0%5D=seven_secondary_local_tasks\u0026args%5B1%5D=full\u0026args%5B2%5D\u0026token=cyyNAH_dXhG-WLG0tmHf2K1rQEmj-LtV0bgMz0_7Om8":true,"callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder\u0026args%5B0%5D=seven_primary_local_tasks\u0026args%5B1%5D=full\u0026args%5B2%5D\u0026token=a0QU9R7U3rrhnUCBrPU-bd9dV3EpZJLPiULoZ5dL2sM":true,"callback=user.toolbar_link_builder%3ArenderToolbarLinks\u0026\u0026token=xssKdKFVFD7N0FUPPcC1C7LrqMHpQFVzUhrI4cOeEgs":true,"callback=user.toolbar_link_builder%3ArenderDisplayName\u0026\u0026token=-MH2NzEnTzbzMk0ZGfGgoiw7G3j_-Q1ILWBRVhIOKLI":true,"callback=shortcut.lazy_builders%3AlazyLinks\u0026\u0026token=N1997Wch59v-LxHku3-dD44wjkSNmhegNzlZ8jS0L5I":true},"ajax":{"edit-field-featured-image-0-upload-button":{"callback":["Drupal\\file\\Element\\ManagedFile","uploadAjaxCallback"],"wrapper":"ajax-wrapper","effect":"fade","progress":{"type":"throbber","message":null},"event":"mousedown","keypress":true,"prevent":"click","url":"\/node\/add\/article?element_parents=field_featured_image\/widget\/0\u0026ajax_form=1","dialogType":"ajax","submit":{"_triggering_element_name":"field_featured_image_0_upload_button","_triggering_element_value":"Upload"}},"edit-field-image-0-upload-button":{"callback":["Drupal\\file\\Element\\ManagedFile","uploadAjaxCallback"],"wrapper":"edit-field-image-ajax-wrapper","effect":"fade","progress":{"type":"throbber","message":null},"event":"mousedown","keypress":true,"prevent":"click","url":"\/node\/add\/article?element_parents=field_image\/widget\u0026ajax_form=1","dialogType":"ajax","submit":{"_triggering_element_name":"field_image_0_upload_button","_triggering_element_value":"Upload"}}},"file":{"elements":{"#edit-field-featured-image-0-upload":"png,gif,jpg,jpeg","#edit-field-image-0-upload":"png,gif,jpg,jpeg"}},"editor":{"formats":{"full_html":{"format":"full_html","editor":"ckeditor","editorSettings":{"allowedContent":true,"contentsCss":["\/core\/modules\/ckeditor\/css\/ckeditor-iframe.css?qri5tc=","\/core\/modules\/system\/css\/components\/align.module.css?qri5tc=","\/core\/modules\/filter\/css\/filter.caption.css?qri5tc=","\/core\/modules\/ckeditor\/css\/plugins\/drupalimagecaption\/ckeditor.drupalimagecaption.css?qri5tc=","\/core\/themes\/classy\/css\/components\/media-embed-error.css?qri5tc="],"customConfig":"","disableNativeSpellChecker":false,"disallowedContent":false,"drupalExternalPlugins":{"drupalimage":"\/core\/modules\/ckeditor\/js\/plugins\/drupalimage\/plugin.js","drupalimagecaption":"\/core\/modules\/ckeditor\/js\/plugins\/drupalimagecaption\/plugin.js","drupallink":"\/core\/modules\/ckeditor\/js\/plugins\/drupallink\/plugin.js"},"drupalImageCaption_alignFilterEnabled":true,"drupalImageCaption_captionFilterEnabled":true,"drupalImageCaption_captionPlaceholderText":"Enter caption here","drupalImage_dialogTitleAdd":"Insert Image","drupalImage_dialogTitleEdit":"Edit Image","drupalLink_dialogTitleAdd":"Add Link","drupalLink_dialogTitleEdit":"Edit Link","entities":false,"extraPlugins":"drupalimage,drupalimagecaption,drupallink","format_tags":"p;h1;h2;h3;h4;h5;h6;pre","image2_alignClasses":["align-left","align-center","align-right"],"image2_captionedClass":"caption caption-img","justifyClasses":["text-align-left","text-align-center","text-align-right","text-align-justify"],"language":"en","pasteFromWordPromptCleanup":true,"resize_dir":"vertical","stylesSet":false,"toolbar":[{"name":"Formatting","items":["Bold","Italic","Strike","Superscript","Subscript","-","RemoveFormat"]},{"name":"Linking","items":["DrupalLink","DrupalUnlink"]},{"name":"Lists","items":["BulletedList","NumberedList"]},{"name":"Media","items":["Blockquote","DrupalImage","Table","HorizontalRule"]},{"name":"Block Formatting","items":["Format"]},{"name":"Tools","items":["ShowBlocks","Source"]},"\/"]},"editorSupportsContentFiltering":true,"isXssSafe":false},"basic_html":{"format":"basic_html","editor":"ckeditor","editorSettings":{"allowedContent":{"*":{"attributes":"lang,dir","styles":false,"classes":false},"a":{"attributes":"href,hreflang","styles":false,"classes":false},"blockquote":{"attributes":"cite","styles":false,"classes":false},"br":{"attributes":false,"styles":false,"classes":false},"cite":{"attributes":false,"styles":false,"classes":false},"code":{"attributes":false,"styles":false,"classes":false},"dd":{"attributes":false,"styles":false,"classes":false},"dl":{"attributes":false,"styles":false,"classes":false},"dt":{"attributes":false,"styles":false,"classes":false},"em":{"attributes":false,"styles":false,"classes":false},"h2":{"attributes":"id","styles":false,"classes":false},"h3":{"attributes":"id","styles":false,"classes":false},"h4":{"attributes":"id","styles":false,"classes":false},"h5":{"attributes":"id","styles":false,"classes":false},"h6":{"attributes":"id","styles":false,"classes":false},"img":{"attributes":"src,alt,height,width,data-entity-type,data-entity-uuid,data-align,data-caption","styles":false,"classes":false},"li":{"attributes":false,"styles":false,"classes":false},"ol":{"attributes":"start,type","styles":false,"classes":false},"p":{"attributes":false,"styles":false,"classes":false},"span":{"attributes":false,"styles":false,"classes":false},"strong":{"attributes":false,"styles":false,"classes":false},"ul":{"attributes":"type","styles":false,"classes":false}},"contentsCss":["\/core\/modules\/ckeditor\/css\/ckeditor-iframe.css?qri5tc=","\/core\/modules\/system\/css\/components\/align.module.css?qri5tc=","\/core\/modules\/filter\/css\/filter.caption.css?qri5tc=","\/core\/modules\/ckeditor\/css\/plugins\/drupalimagecaption\/ckeditor.drupalimagecaption.css?qri5tc=","\/core\/themes\/classy\/css\/components\/media-embed-error.css?qri5tc="],"customConfig":"","disableNativeSpellChecker":false,"disallowedContent":{"*":{"attributes":"on*"}},"drupalExternalPlugins":{"drupalimage":"\/core\/modules\/ckeditor\/js\/plugins\/drupalimage\/plugin.js","drupalimagecaption":"\/core\/modules\/ckeditor\/js\/plugins\/drupalimagecaption\/plugin.js","drupallink":"\/core\/modules\/ckeditor\/js\/plugins\/drupallink\/plugin.js"},"drupalImageCaption_alignFilterEnabled":true,"drupalImageCaption_captionFilterEnabled":true,"drupalImageCaption_captionPlaceholderText":"Enter caption here","drupalImage_dialogTitleAdd":"Insert Image","drupalImage_dialogTitleEdit":"Edit Image","drupalLink_dialogTitleAdd":"Add Link","drupalLink_dialogTitleEdit":"Edit Link","entities":false,"extraPlugins":"drupalimage,drupalimagecaption,drupallink","format_tags":"p;h2;h3;h4;h5;h6","image2_alignClasses":["align-left","align-center","align-right"],"image2_captionedClass":"caption caption-img","justifyClasses":["text-align-left","text-align-center","text-align-right","text-align-justify"],"language":"en","pasteFromWordPromptCleanup":true,"resize_dir":"vertical","stylesSet":false,"toolbar":[{"name":"Formatting","items":["Bold","Italic"]},{"name":"Linking","items":["DrupalLink","DrupalUnlink"]},{"name":"Lists","items":["BulletedList","NumberedList"]},{"name":"Media","items":["Blockquote","DrupalImage"]},{"name":"Block Formatting","items":["Format"]},{"name":"Tools","items":["Source"]},"\/"]},"editorSupportsContentFiltering":true,"isXssSafe":false}}},"toolbar":{"breakpoints":{"toolbar.narrow":"only screen and (min-width: 16.5em)","toolbar.standard":"only screen and (min-width: 38.125em)","toolbar.wide":"only screen and (min-width: 61em)"},"subtreesHash":"qp-AE5nPql7KKLMy7uTJkyum2dPVUf9ZhjyWyZd1W3g"},"user":{"uid":"40","permissionsHash":"179d10b512f499502e7cc046424dd4f75ae5dfef6514073ddb1614c8ca3f57bb"}}</script>
<script src="/js/js_tbjIY8ACQuUEh1igQiV8yjjqSjKFLrZUrF1x4UdWcAQ.js"></script>
<script src="/js/ckeditor.js?v=4.15.1"></script>
<script src="/js/js_aUma_kvIRuNI1I3yMJkn3Kz_BO9ZRzX08vheF_RCjDg.js"></script>

<script type="application/vnd.drupal-ajax" data-big-pipe-event="start"></script>
    <script type="application/vnd.drupal-ajax" data-big-pipe-replacement-for-placeholder-with-id="callback=shortcut.lazy_builders%3AlazyLinks&amp;&amp;token=N1997Wch59v-LxHku3-dD44wjkSNmhegNzlZ8jS0L5I">
    [{"command":"insert","method":"replaceWith","selector":"[data-big-pipe-placeholder-id=\u0022callback=shortcut.lazy_builders%3AlazyLinks\u0026\u0026token=N1997Wch59v-LxHku3-dD44wjkSNmhegNzlZ8jS0L5I\u0022]","data":"\u003Cul class=\u0022toolbar-menu\u0022\u003E\u003Cli\u003E\u003Ca href=\u0022\/admin\/structure\/menu\/manage\/main\/add\u0022\u003EAdd menu link\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/media\/add\/remote_video\u0022\u003EAdd Remote video\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/admin\/people\/create\u0022\u003EAdd user\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/node\/add\/article\u0022\u003ECreate Article\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/node\/add\/page\u0022\u003ECreate Basic page\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/node\/add\/faq\u0022\u003ECreate FAQ\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/node\/add\/partners\u0022\u003ECreate Partners\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/node\/add\/showcase\u0022\u003ECreate Showcase\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/admin\/modules\u0022\u003EExtend\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/admin\/people\u0022\u003EPeople\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/admin\/config\/development\/performance\u0022\u003EPerformance\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/admin\/config\/development\/configuration\u0022\u003ESynchronize\u003C\/a\u003E\u003C\/li\u003E\u003Cli\u003E\u003Ca href=\u0022\/node\/add\u0022\u003EAdd content\u003C\/a\u003E\u003C\/li\u003E\u003C\/ul\u003E\u003Ca href=\u0022\/admin\/config\/user-interface\/shortcut\/manage\/default\/customize\u0022 class=\u0022edit-shortcuts\u0022\u003EEdit shortcuts\u003C\/a\u003E","settings":null}]
    </script>    <script type="application/vnd.drupal-ajax" data-big-pipe-replacement-for-placeholder-with-id="callback=user.toolbar_link_builder%3ArenderDisplayName&amp;&amp;token=-MH2NzEnTzbzMk0ZGfGgoiw7G3j_-Q1ILWBRVhIOKLI">
    [{"command":"insert","method":"replaceWith","selector":"[data-big-pipe-placeholder-id=\u0022callback=user.toolbar_link_builder%3ArenderDisplayName\u0026\u0026token=-MH2NzEnTzbzMk0ZGfGgoiw7G3j_-Q1ILWBRVhIOKLI\u0022]","data":"Assumpta","settings":null}]
    </script>    <script type="application/vnd.drupal-ajax" data-big-pipe-replacement-for-placeholder-with-id="callback=user.toolbar_link_builder%3ArenderToolbarLinks&amp;&amp;token=xssKdKFVFD7N0FUPPcC1C7LrqMHpQFVzUhrI4cOeEgs">
    [{"command":"insert","method":"replaceWith","selector":"[data-big-pipe-placeholder-id=\u0022callback=user.toolbar_link_builder%3ArenderToolbarLinks\u0026\u0026token=xssKdKFVFD7N0FUPPcC1C7LrqMHpQFVzUhrI4cOeEgs\u0022]","data":"\u003Cul class=\u0022toolbar-menu\u0022\u003E\u003Cli class=\u0022account\u0022\u003E\u003Ca href=\u0022\/user\u0022 title=\u0022User account\u0022\u003EView profile\u003C\/a\u003E\u003C\/li\u003E\u003Cli class=\u0022account-edit\u0022\u003E\u003Ca href=\u0022\/user\/40\/edit\u0022 title=\u0022Edit user account\u0022\u003EEdit profile\u003C\/a\u003E\u003C\/li\u003E\u003Cli class=\u0022logout\u0022\u003E\u003Ca href=\u0022\/user\/logout\u0022\u003ELog out\u003C\/a\u003E\u003C\/li\u003E\u003C\/ul\u003E","settings":null}]
    </script>    <script type="application/vnd.drupal-ajax" data-big-pipe-replacement-for-placeholder-with-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=seven_primary_local_tasks&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=a0QU9R7U3rrhnUCBrPU-bd9dV3EpZJLPiULoZ5dL2sM">
    [{"command":"insert","method":"replaceWith","selector":"[data-big-pipe-placeholder-id=\u0022callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder\u0026args%5B0%5D=seven_primary_local_tasks\u0026args%5B1%5D=full\u0026args%5B2%5D\u0026token=a0QU9R7U3rrhnUCBrPU-bd9dV3EpZJLPiULoZ5dL2sM\u0022]","data":"","settings":null}]
    </script>    <script type="application/vnd.drupal-ajax" data-big-pipe-replacement-for-placeholder-with-id="callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder&amp;args%5B0%5D=seven_secondary_local_tasks&amp;args%5B1%5D=full&amp;args%5B2%5D&amp;token=cyyNAH_dXhG-WLG0tmHf2K1rQEmj-LtV0bgMz0_7Om8">
    [{"command":"insert","method":"replaceWith","selector":"[data-big-pipe-placeholder-id=\u0022callback=Drupal%5Cblock%5CBlockViewBuilder%3A%3AlazyBuilder\u0026args%5B0%5D=seven_secondary_local_tasks\u0026args%5B1%5D=full\u0026args%5B2%5D\u0026token=cyyNAH_dXhG-WLG0tmHf2K1rQEmj-LtV0bgMz0_7Om8\u0022]","data":"","settings":null}]
    </script>    <script type="application/vnd.drupal-ajax" data-big-pipe-replacement-for-placeholder-with-id="callback=Drupal%5CCore%5CRender%5CElement%5CStatusMessages%3A%3ArenderMessages&amp;args%5B0%5D&amp;token=_HAdUpwWmet0TOTe2PSiJuMntExoshbm1kh2wQzzzAA">
    [{"command":"insert","method":"replaceWith","selector":"[data-big-pipe-placeholder-id=\u0022callback=Drupal%5CCore%5CRender%5CElement%5CStatusMessages%3A%3ArenderMessages\u0026args%5B0%5D\u0026token=_HAdUpwWmet0TOTe2PSiJuMntExoshbm1kh2wQzzzAA\u0022]","data":"","settings":null}]
    </script>
<script type="application/vnd.drupal-ajax" data-big-pipe-event="stop"></script>
</body>
</html>
