
<!DOCTYPE html>
<html lang="en" style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/l3.png" type="image/png" />

    <title>Home | Imo State Water Supply and Sewerage Corporation</title>

    <!-- Favicons -->
  <!-- <link href="/assets/13.png" rel="icon">
  <link href="/assets/13.png" rel="apple-touch-icon"> -->
    <link rel="stylesheet" media="all" href="/css/css_cLPHb4WsT3bx8xXhtXTOAU9NXb3wXxsOVIPErujgihc.css" />
<link rel="stylesheet" media="all" href="/css/css_XT9ueGORcRIPmvRmdHO3Gbbub7J9ecE5zsYEyIz9d_c.css" />


        </head>
<body class="path-frontpage position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header" class="bg-white position-absolute">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/assets/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <!-- <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li> -->

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<div class="section section1">
  <div class="container-fluid p-0">
      <div class="region region-section1">
    <div class="views-element-container block block-views block-views-blockthe-fold-block-1" id="block-views-block-the-fold-block-1">


      <div><div class="view view-the-fold view-id-the_fold view-display-id-block_1 js-view-dom-id-6c909f6b10dde5d959f708e1325cd49ed436f7ef5c1d905d676da14f5181162b">



      <div class="view-content">



  <div id="views-two-owls-the-fold-block-1" class="owl-carousel owl-theme"
         data-mouse-drag="true"
          data-items="1"
         data-nav="false"
       data-autoplay="true"
         data-responsive='{
          "0": {"margin": 20, "items": 1},
          "600":{"margin": 20, "items": 1},
          "1000":{"items": 1}}'>
              <div class="b-stage">
          <div class="container m-auto">
            <div class="b-stage__1">
              <div class="b-stage__2">
                <div class="b-stage__3">
                  <div class="row">
<div class="col-lg-20 d-flex flex-column justify-content-center">
<h3 class="b-stage__title">Clean Water for <span>Households</span> &amp; <span>Organisations</span></h3>

<p class="b-stage__body-text py-3" style="">Imo State Water Corporation was established in 1976 with a mandate of supplying drinking water to people living in urban and semi-urban areas of Imo state</p>
<a class="btn btn-primary align-self-start" href="/overview">Learn More</a></div>
</div>

                </div>
              </div>
            </div>
          </div>
          <div class="b-stage__overlay"></div>
          <div style="" class="b-stage__image">
                <picture>
                  <source srcset="/assets/clean-water.jpg?itok=FLOYOj1d 1x" media="all and (min-width: 851px)" type="image/jpeg"/>
              <source srcset="/assets/clean-water.jpg?itok=VY2Zquim 1x" type="image/jpeg"/>
                  <img src="/assets/clean-water.jpg?itok=vGhnnwDN" alt="Clean Water" typeof="foaf:Image" />

  </picture>


          </div>
        </div>
        <!-- <div id="views-two-owls-the-fold-block-1" class="owl-carousel owl-theme"
         data-mouse-drag="true"
          data-items="1"
         data-nav="false"
       data-autoplay="true"
         data-responsive='{
          "0": {"margin": 20, "items": 1},
          "600":{"margin": 20, "items": 1},
          "1000":{"items": 1}}'> -->
              <div class="b-stage" style="height: 560px; overflow: hidden">
          <div class="container m-auto">
            <div class="b-stage__1">
              <div class="b-stage__2">
                <div class="b-stage__3">
                  <div class="row">
<div class="col-lg-20 d-flex flex-column justify-content-center">
<h3 class="b-stage__title">It’s about reaching the <span>unreachable</span></h3>

<p class="b-stage__body-text py-3" style="">Imo State Water Corporation was established in 1976 with a mandate of supplying drinking water to people living in urban and semi-urban areas of Imo state</p>
<a class="btn btn-primary align-self-start" href="/water-schemes">Learn More</a></div>
</div>
<style type="text/css">
<!--/*--><![CDATA[/* ><!--*/
.b-stage__overlay {
opacity: 0.3
}
/* @media (max-width:991.98px){.b-stage{max-height:500px;overflow:hidden}} */

/*--><!]]>*/
</style>

                </div>
              </div>
            </div>
          </div>
          <div class="b-stage__overlay"></div>
          <div  style="height: 560px; overflow: hidden" class="b-stage__image">
                <picture>
                  <source srcset="/assets/Men-At-Work_0.jpg?itok=70xDQaDD 1x" media="all and (min-width: 851px)" type="image/jpeg"/>
              <source srcset="/assets/Men-At-Work_0.jpg?itok=SnWrYYyf 1x" type="image/jpeg"/>
                  <img src="/assets/Men-At-Work_0.jpg?itok=phQSJPH9" alt="Men At Work" typeof="foaf:Image" />

  </picture>


          </div>
        </div>
              <div class="b-stage" style="height: 560px; overflow: hidden">
          <div class="container m-auto">
            <div class="b-stage__1">
              <div class="b-stage__2">
                <div class="b-stage__3">
                  <div class="row">
<div class="col-lg-20 d-flex flex-column justify-content-center">
<h3 class="b-stage__title">Providing <span>clean drinking water</span> for everyone</h3>

<p class="b-stage__body-text py-3" style="">Imo State Water Corporation was established in 1976 with a mandate of supplying drinking water to people living in urban and semi-urban areas of Imo state</p>
<a class="btn btn-primary align-self-start" href="/overview">Learn More</a></div>
</div>
<style type="text/css">
  <!--/*--><![CDATA[/* ><!--*/
  .b-stage__overlay {
  opacity: 0.3
  }
  /* @media (max-width:991.98px){.b-stage{max-height:500px;overflow:hidden}} */

  /*--><!]]>*/
  </style>

                </div>
              </div>
            </div>
          </div>
          <div class="b-stage__overlay"></div>
          <div  style="height: 560px; overflow: hidden" class="b-stage__image">
                <picture>
                  <source srcset="/assets/tap-water_0.jpg?itok=TUER2dX2 1x" media="all and (min-width: 851px)" type="image/jpeg"/>
              <source srcset="/assets/tap-water_0.jpg?itok=ROPXsTW9 1x" type="image/jpeg"/>
                  <img src="/assets/tap-water_0.jpg?itok=vIutmRv3" alt="Tap Water" typeof="foaf:Image" />

  </picture>


          </div>
        </div>
          </div>

    </div>

          </div>
</div>

  </div>

  </div>

  </div>
</div>

<div class="section section2 my-5 py-4">
  <div class="container">
      <div class="region region-section2">
    <div class="views-element-container block block-views block-views-blocknews-block-1" id="block-views-block-news-block-1">

      <h2>Latest News</h2>

      <div><div class="view view-news view-id-news view-display-id-block_1 js-view-dom-id-261975308637b904958194494094ac59718dd47a01fad3930e6d4818fbb17f1c">



      <div class="view-content">



    <div class="row justify-content-center py-3">
    <div id="views-two-owls-news-block-1" class="summary owl-carousel owl-theme col-lg-30"
         data-items="5"
         data-mouse-drag="true"
         data-dots="false"
         data-responsive='{"0": {"margin": 20, "items": 1},"600":{"margin": 20, "items": 1},"1000":{"items":6}}'>


         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/news" hreflang="en"><img src="/assets/WhatsApp_Image_2022-08-12_at_1.59.48_PM.jpeg" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/news" hreflang="en">6TH QUADRENNIAL STATE DELEGATES CONFERENCE..</a>
          </h5>
        </div>

         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/STAKEHOLDERS_REVIEW_AND_VALIDATION" hreflang="en"><img src="/assets/WhatsApp_Image_2022-08-12 at_11.12.47_AM.jpeg" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/STAKEHOLDERS_REVIEW_AND_VALIDATION" hreflang="en">STAKEHOLDERS REVIEW AND VALIDATION OF THE POLICES...</a>
          </h5>
        </div>

         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/MONITORING_AND_EVALUATION_OFFICIALS_UNDER_SURWASH" hreflang="en"><img src="/assets/WhatsApp_Image_2022-08-03_at_10.51.57_AM.jpeg" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/MONITORING_AND_EVALUATION_OFFICIALS_UNDER_SURWASH" hreflang="en">MONITORING AND EVALUATION OFFICIALS UNDER SURWASH...</a>
          </h5>
        </div>


         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/Day_2_SURWASH_WorldBank_Technical_Support_Mission" hreflang="en"><img src="/assets/WhatsApp_Image_2022-07-29_at_11.03.09_AM.jpeg" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/Day_2_SURWASH_WorldBank_Technical_Support_Mission" hreflang="en">DAY2 OF SURWASH WORLDBANK TECHNICAL SUPPORT MISSION...</a>
          </h5>
        </div>


         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/news" hreflang="en"><img src="/assets/WhatsApp_Image_2022-07-27_at_12.41.33_PM.jpeg" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/news" hreflang="en">DAY1 OF SURWASH WORLDBANK TECHNICAL SUPPORT MISSION...</a>
          </h5>
        </div>

         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/Imo-State-Magazine-Vol-One.cdr" hreflang="en"><img src="/assets/newsletter.PNG" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/Imo-State-Magazine-Vol-One.cdr" hreflang="en">IMO STATE WATER AND SEWERAGE CORPORATION NEWS...</a>
          </h5>
        </div>

         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/KUNNY-INNOVATION-POWER-POINT" hreflang="en"><img src="/assets/WhatsApp%20Image%202022-01-05%20at%2010.18.55%20AM_1.jpeg?itok=rP0WKskj" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/KUNNY-INNOVATION-POWER-POINT" hreflang="en">KUNNY CONNECTION  INNOVATIVE TECHNOLOGY FOR...</a>
          </h5>
        </div>


         <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/meet-our-discon-finest-speaker-water-and-environmental-expert" hreflang="en"><img src="/assets/Engr%20Emeka%20Profile_6.jpeg?itok=g29y9E46" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/meet-our-discon-finest-speaker-water-and-environmental-expert" hreflang="en">MEET OUR DISCON FINEST SPEAKER, A WATER AND...</a>
          </h5>
        </div>

              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/courtesy-visit-rotary-club-owerri-metropolitan-managing-director-iswsc-27th-april-2022" hreflang="en"><img src="/assets/WhatsApp%20Image%202022-04-28%20at%2012.33.21%20PM_2.jpeg?itok=VvfJstuz" width="244" height="325" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/courtesy-visit-rotary-club-owerri-metropolitan-managing-director-iswsc-27th-april-2022" hreflang="en">COURTESY VISIT BY THE ROTARY CLUB OF…</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/official-two-day-visit-usaid-program-specialist-team-imo-state-water-and-sewerage" hreflang="en"><img src="/assets/WhatsApp%20Image%202022-04-28%20at%209.15.23%20AM%281%29_5.jpeg?itok=qD3r9MMj" width="325" height="244" alt="group photo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/official-two-day-visit-usaid-program-specialist-team-imo-state-water-and-sewerage" hreflang="en">THE OFFICIAL TWO DAY VISIT OF THE USAID…</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/report-5-day-online-meeting-between-world-bank-and-imo-state-water-and-sewerage-corporation" hreflang="en"><img src="/assets/WhatsApp%20Image%202022-01-22%20at%2012.37.45%20PM_0.jpeg?itok=ub-Q8Kxx" width="325" height="244" alt="workshop" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/report-5-day-online-meeting-between-world-bank-and-imo-state-water-and-sewerage-corporation" hreflang="en">REPORT ON THE 5 DAY ONLINE MEETING…</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/inspection-and-monitoring-burst-pipe-mdceo-iswsc" hreflang="en"><img src="/assets/WhatsApp%20Image%202022-01-22%20at%206.32.43%20PM_0.jpeg?itok=YGvh7XKq" width="244" height="325" alt="Site inspection" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/inspection-and-monitoring-burst-pipe-mdceo-iswsc" hreflang="en">INSPECTION AND MONITORING OF BURST PIPE BY MD/CEO ISWSC</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/courtesy-visit-office-honorable-commissioner-imo-state-ministry-power-and-water-resources" hreflang="en"><img src="/assets/WhatsApp%20Image%202022-01-15%20at%205.42.04%20PM_3.jpeg?itok=qr4FaTB3" width="325" height="244" alt="Group picture" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/courtesy-visit-office-honorable-commissioner-imo-state-ministry-power-and-water-resources" hreflang="en">A COURTESY VISIT TO THE OFFICE OF…</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/usaid-partnership-imo-state-water-and-sewerage-corporation-introduces-interswitch-payment" hreflang="en"><img src="/assets/styles/max_325x325/public/2022-01/front%20image1_13.jpg?itok=Jmhouzui" width="325" height="325" alt="logo" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/usaid-partnership-imo-state-water-and-sewerage-corporation-introduces-interswitch-payment" hreflang="en">USAID PARTNERSHIP WITH IMO STATE…</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/mdceo-imo-state-water-and-sewerage-corporation-engr-emeka-ugoanyawu-fnse-fniwe-npom-fosha" hreflang="en"><img src="/assets/WhatsApp%20Image%202021-11-25%20at%201.31.25%20PM_0.jpeg?itok=wa2Q7LMA" width="244" height="325" alt="Site inspection" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/mdceo-imo-state-water-and-sewerage-corporation-engr-emeka-ugoanyawu-fnse-fniwe-npom-fosha" hreflang="en">The MD/CEO  Imo State Water and…</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/node/156" hreflang="en"><img src="/assets/WhatsApp%20Image%202021-11-25%20at%208.52.38%20AM_0.jpeg?itok=7581i30n" width="325" height="244" alt="Group photo " loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/node/156" hreflang="en">DAY 2 OF THE 2-DAYS IN-HOUSE ORIENTATION PEOGRAM FOR STAFF OF IMO STATE WATER AND SEWERAGE CORPORATION HELD AT THE ISWSC…</a>
          </h5>
        </div>
              <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/node/155" hreflang="en"><img src="/assets/WhatsApp%20Image%202021-11-24%20at%208.44.40%20AM%282%29_5.jpeg?itok=COADDyoF" width="325" height="244" alt="Attendees" loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/node/155" hreflang="en">DAY 1 REPORT ON THE 2DAYS IN-HOUSE ORIENTATION PROGRAM FOR STAFF OF IMO STATE WATER AND SEWAGE COPORATION HELD ON TUESDAY…</a>
          </h5>
        </div>
              <!-- <div>
          <div style="height: 160px; overflow: hidden">
              <a href="/article/world-rivers-day-celebration-otamiri-water-works-egbu-owerri-north-lga-27th-september-2021" hreflang="en"><img src="/assets/WhatsApp%20Image%202021-09-29%20at%202.50.14%20PM_2.jpeg?itok=6CbTkj7R" width="325" height="244" alt="WORLD RIVERS DAY CELEBRATION AT THE OTAMIRI " loading="lazy" typeof="foaf:Image" class="image-style-max-325x325" />

</a>

          </div>
          <h5 class="news-title">
            <a href="/article/world-rivers-day-celebration-otamiri-water-works-egbu-owerri-north-lga-27th-september-2021" hreflang="en">WORLD RIVERS DAY CELEBRATION AT THE…</a>
          </h5>
        </div> -->
          </div>
  </div>

    </div>

            <div class="view-footer">
      <a href="/news" class="views-display-link views-display-link-page_1">See More News</a>
    </div>
    </div>
</div>

  </div>

  </div>

  </div>
</div>

<div class="section section3">
  <div class="container">
      <div class="region region-section3">
    <div class="views-element-container block block-views block-views-blockpartners-block-1" id="block-views-block-partners-block-1">

      <h2>Partners</h2>

      <div><div class="view view-partners view-id-partners view-display-id-block_1 js-view-dom-id-5f0d6ccca281b0ab3b1c4cafee6307c0de201a8a154de758fe99dc7c0407bd2d">



      <div class="view-content">
      <div class="views-view-grid horizontal cols-5 clearfix">
            <div class="row justify-content-center py-3">
                  <div class="col-lg-6"><div class="views-field views-field-field-partner-logo"><div class="field-content">  <img src="/assets/USAID_1.jpeg?itok=1_mYkRIn" width="220" height="220" alt="USAID" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div></div>
                  <div class="col-lg-6"><div class="views-field views-field-field-partner-logo"><div class="field-content">  <img src="/assets/afd.png?itok=_8v7U68C" width="220" height="97" alt="French Development Agency" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div></div>
                  <div class="col-lg-6"><div class="views-field views-field-field-partner-logo"><div class="field-content">  <img src="/assets/wbg-logo-ida-ibrd.png?itok=L6AKrdtl" width="220" height="124" alt="World Bank" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div></div>
                  <div class="col-lg-6"><div class="views-field views-field-field-partner-logo"><div class="field-content">  <img src="/assets/FMWRID.jpeg?itok=iHc4dYzi" width="220" height="211" alt="Federal Ministry of Water Resources" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div></div>
                  <div class="col-lg-6"></div>
              </div>
          <div class="row justify-content-center py-3">
                  <div class="col-lg-6"></div>
                  <div class="col-lg-6"><div class="views-field views-field-field-partner-logo"><div class="field-content">  <img src="/assets/power-africa.png?itok=XpCHPbE4" width="220" height="97" alt="Power Africa involved in alternative energy in WASH" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div></div>
                  <div class="col-lg-6"><div class="views-field views-field-field-partner-logo"><div class="field-content">  <img src="/assets/WEWE.png?itok=6wIIsjf8" width="220" height="40" alt="WEWE" loading="lazy" typeof="foaf:Image" class="image-style-medium" />


</div></div></div>
              </div>
      </div>

    </div>

        <nav class="pager" role="navigation" aria-labelledby="pagination-heading--2">
    <h4 id="pagination-heading--2" class="pager__heading visually-hidden">Pagination</h4>
    <ul class="pager__items js-pager__items">
                    <li class="pager__item is-active">
          Page 1        </li>
                    <li class="pager__item pager__item--next">
          <a href="/node?page=1" title="Go to next page" rel="next">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
          </ul>
  </nav>

          </div>
</div>

  </div>

  </div>

  </div>
</div>




<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
    <li  class="nav-item">
      <a class="nav-link" href="https://webmail.iswscorp.org.ng/"
         target="_blank"
      >Email</a>
    </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/assets/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/library"
         target="_self"
      >Library</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>
            <section class="text-right">
              <a href="https://www.facebook.com/groups/734689120305771/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://twitter.com/imo_water" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.instagram.com/imowater2022/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.linkedin.com/company/imo-state-water-and sewerage-corporation/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
</section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2022. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto"><a href="https://www.nobtechconsulting.com"> Designed by Nobtech Consulting Limited </a></div>
      </div>
    </div>
  </div>
</footer>


  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node","currentPathIsAdmin":false,"isFront":true,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,core\/normalize,core\/picturefill,iswsc\/global-style,system\/base,two_owls\/components,views\/views.ajax,views\/views.module","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":[],"views":{"ajax_path":"\/views\/ajax","ajaxViews":{"views_dom_id:5f0d6ccca281b0ab3b1c4cafee6307c0de201a8a154de758fe99dc7c0407bd2d":{"view_name":"partners","view_display_id":"block_1","view_args":"","view_path":"\/node","view_base_path":null,"view_dom_id":"5f0d6ccca281b0ab3b1c4cafee6307c0de201a8a154de758fe99dc7c0407bd2d","pager_element":0},"views_dom_id:261975308637b904958194494094ac59718dd47a01fad3930e6d4818fbb17f1c":{"view_name":"news","view_display_id":"block_1","view_args":"","view_path":"\/node","view_base_path":"news.xml","view_dom_id":"261975308637b904958194494094ac59718dd47a01fad3930e6d4818fbb17f1c","pager_element":0}}},"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_PWmAik3akuMT_ObF6kxEX-q4DyBE2nI7AC83XDZ6uNk.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_r9jIF0G3GlOyp-gNpzORUzMtjsoECw-jOI0f4wX1glE.js"></script>

</body>
</html>
