
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/l3.png" type="image/png" />

    <title>Management Team | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_DfIk0kDE_97QqZBJr5TF4iiP6Rt7nG3gWSu-Jh5AKCY.css" />
<link rel="stylesheet" media="all" href="/css/css_XT9ueGORcRIPmvRmdHO3Gbbub7J9ecE5zsYEyIz9d_c.css" />


        </head>
<body class="path-management-team position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header position-relative">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/assets/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="active dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li>

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-20">
          <div class="region region-title">
    <div id="block-iswsc-page-title" class="block block-core block-page-title-block">



  <h1 class="page-title">Management Team</h1>


  </div>

  </div>

      </div>
    </div>
  </div>
</section>
<div id="main_content" class="py-5" style="min-height:80vh">
  <div class="container">
   <div class="row justify-content-center">
          <div class="col-lg-16">
         <div class="region region-content">
    <div id="block-iswsc-content" class="block block-system block-system-main-block">


      <div class="views-element-container"><div class="view view-management-team view-id-management_team view-display-id-page_1 js-view-dom-id-3829cf6dbce52fed36107b48f9b2821909d8c97492f3c3cc270e499faf9ee4e6">



      <div class="view-content">
          <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Emeka.jpg" width="520" height="696" alt="ENGR. EMEKA UGOANYANWU" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/engr-emeka-ugoanyanwu" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">ENGR. EMEKA UGOANYANWU</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">MANAGING DIRECTOR/CEO </div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><b>Engr. Emeka Ugoanyanwu is the current Managing Directo/CEO</b> of the Imo State Water &amp; Sewerage Corporation. He was for 13 years the GM/CEO of the Imo State water Department Agency (IWADA) 2001 – 2014.</p>

<p>Engr. Ugoanyanwu is a distinguished fellow of the Nigerian Society of Engineer, COREN Registered engineer and a fellow of the Nigerian Institution of Water Engineers. He’s also a member/fellow of the several other professional associations including, International Water Services Association, Nigerian Water Service Association, Nigerian Institution of Production Engineers, American Society of Mechanical Engineers, Project Management Institute USA, Associate Nigerian Institute of management, Foundry Association of Nigeria, Fellow Charted institute of Administrators among other professional bodies.</p>

<p>He’s a First Class graduate of Federal University of Technology Owerri, holds in addition M.Eng, MBA degrees from same University and a graduate Diploma/Certificates from the United State of America. Engr. Ugoanyanwu is a member of National Technical Committee and National Council on Water Resources. Engr. Ugoanyanwu is a recipient of the National Productivity award for National Productivity, a Christian of the Catholic dominion and Knight of St. John International.<br />
He has been in the WASH sector for more than 35years and widely travelled. He is married with children.</p>

<p>He is married with four (4) Children.   </p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Charles.jpg" width="520" height="696" alt="ENGR IHEKA CHARLES CHIDI (MNSE)" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/engr-iheka-charles-chidi-mnse" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">ENGR IHEKA CHARLES CHIDI (MNSE)</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Director of Engineering</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Engr. Iheka is the <b><i>Director of Engineering</i></b> at the ISWSC. He is registered with COREN, a member of the Nigerian Society of Engineers and Nigerian Water Supply Association Supply Association</p>

<p>Married with three children.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Amadi.jpg" width="520" height="696" alt="AMADI MARYCHRIS IRUOMACHI (MRS)" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/amadi-marychris-iruomachi-mrs" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">AMADI MARYCHRIS IRUOMACHI (MRS)</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Head of Accounts</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>MaryChris Amadi is the current <b><i>Head of Accounts</i></b> Department at the Imo State Water and Sewerage Corporation (ISWSC).</p>

<p>She has had experience serving as Head of Accounts Department in some Government Organizations/Agencies like Imo State Consumer Protection Council (CPC) and Imo State Investment Protections Agency (ISIPA) before joining the ISWSC.</p>

<p>She has over 26 years’ experience in Accounting, Auditing, Revenue generation, reactivation of Small Town Water Schemes and Water Billings.</p>

<p>MaryChris Amadi holds a second class upper degree from the Imo State University Owerri, holds in addition MSC Accounting from the same University and National Certificate of Education from Alvan Ikoku Federal College of Education Owerri, a student of institute of Chartered Accounts of Nigeria (ICAN).</p>

<p>Apart from academic achievements, she is a dedicated Christian, a treasurer and council member of Foursquare Gospel Church in Nigeria, Owerri District Headquarters, a teacher in Children; Church and had served Mary tenures as secretary, treasurer in Women Association of the Church.</p>

<p>MaryChris is happily married with promising Children.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Osuji.jpg" width="520" height="696" alt="OSUJI ZEPHANIAH ONUAWUBA NZEFUIHU" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/osuji-zephaniah-onuawuba-nzefuihu" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">OSUJI ZEPHANIAH ONUAWUBA NZEFUIHU</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Head of Administration/Human Resource Manager</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Osuji Zephaniah is the <b><i>Head of Administration/Human Resource Manager</i></b> with the Imo State Water and Sewerage Corporation. A position he holds since 2015.</p>

<p>Osuji Zephaniah is a graduate of Imo State University Owerri where he bagged a Bachelor of Science degree in Government and Public Administration and a M.Sc. in Industrial Sociology and Personnel Management, He is an Associate Member of Chartered Institute of Personnel Management of Nigeria (CIPMN).</p>

<p>Osuji Zephaniah has undergone so many trainings conducted by the institute (CIPMN), Government and USAID E-WASH.</p>

<p>He has been in the water sector for over 29years.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Christian.jpg" width="520" height="696" alt="OKONKWO, EZERIBE CHRISTIAN" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/okonkwo-ezeribe-christian" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">OKONKWO, EZERIBE CHRISTIAN</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Head of Planning</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Dr Ezeribe is the <b><i>Head of Planning</i></b> at the Imo State Water and Sewerage Corporation, He holds a B.sc in Marketing from the Abia State University, Uturu, a PGDE from the National Teachers Institute Kaduna, MBA in Marketing and has a Ph.D in Marketing from the Imo State University Owerri.</p>

<p>He is a member of the Nigeria Institute of Marketing (Chartered).</p>

<p>He is happily married with Children.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Akujobi.jpg" width="520" height="696" alt="EDITH AGBONMA AKUJOBI" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/edith-agbonma-akujobi" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">EDITH AGBONMA AKUJOBI</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Head of Commercial </div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Edith Agbona Akujobi Heads the Commercial Department at the Imo State Water and Sewerage Corporation. She joined the service of the corporation in 1987</p>

<p>Edith holds a B.Sc in Marketing from Abia State University and a M.Sc in Marketing from Imo State University Owerri.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Francis.jpg" width="520" height="696" alt="Engr. Francis Onyelusi" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/engr-francis-onyelusi" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">Engr. Francis Onyelusi</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Head of Sanitation</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Engr. Frank holds a degree in Chemical Engineering from the Anambra State University. He joined the services of the ISWSC in 2003 and currently <b><i>heads the Sanitation Unit </i></b>at the Water Corporation. He is a member of the Nigeria Society of Chemical Engineers and COREN</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Henry.jpg" width="520" height="696" alt="Engr. Adiruo Henry Oluchukwu" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/engr-adiruo-henry-oluchukwu" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">Engr. Adiruo Henry Oluchukwu</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Head of Water Services</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Engr. Adiruo Henry Oluchukwu (MNSE, MNAHS)<sub> </sub>currently heads the Water Services Department at corporation and doubles as State Project Liaison Officer: 3rd National Urban Water Sector Reform Project (World Bank Assisted Project)</p>

<p>Engr. Henry Adiruo has over 18years experience in the water service sector. He is Non-Revenue Water Management expert, a reform champions and has a robust experience in Urban WASH. He holds a B.Eng. in Agricultural Engineering from the Federal University of Technology Owerri and pursuing a M.ENG Civil Engineering (Water Resources Engineering) from the same institution.</p>

<p>Engr. Adiruo have attended trainings both locally and internationally amongst which are training in: Non-Revenue Water Management-Nagoya City Japan, Non-Revenue Water Reduction in Tokyo Japan, Project Cycle management – participatory planning Glm Institute Japan, Japanese Language Course in Nagoya City Japan 2015, Borehole Rehabilitation and Hand pump operation and maintenance - NWRI Kaduna, Operation and maintenance of Water supply and Network facilities - NWRI Kaduna, Computer Data Processing, Kwara State .</p>

<p>He is a member of the Nigerian Association of Hydrological Science (MNAHS), Registered Engineer with Council for Regulation of Engineering in Nigeria (COREN) and  Nigeria Society of Engineers (MNSE).</p>

<p>He is happily married with Children and having hobbies in Football, Writing and Reading.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Okorie_0.jpg" width="520" height="696" alt="ASSUMPTA OGOCHUKWU OKORIE (MRS)" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/assumpta-ogochukwu-okorie-mrs" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">ASSUMPTA OGOCHUKWU OKORIE (MRS)</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Public Relations Officer</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Assumpta Ogochukwu Okorie (Mrs) is the Public Relations Officer (P.R.O) of Imo State Water and Sewerage Corporation. She is an associate member of the Nigerian Institute of Public Relations and a graduate of Enugu State University of Science and Technology, she holds Post Graduate Diploma in Journalism from international institute of Journalism Abuja (University of Maiduguri affiliate), MSC (In view) from Georgetown University Mc Donough School of Business Executive Education, Washington DC United States of America, studying Gender Equality Executive Leadership Program (GEELP).</p>

<p>Assumpta has been in the Urban WASH Sector for more than fifteen years and widely trained by Development Partners.</p>

<p>She is a practical Christian and member of society of St Vincent de Paul, a charitable NGO in the Catholic Faith.</p>

<p>Assumpta is married with Children.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>
    <div class="views-row"><article>
  <div class="row">
          <div class="col-lg-8">

  <div class="field field--name-field-personnel-image field--type-image field--label-visually_hidden">
    <div class="field__label visually-hidden">Image</div>
              <div class="field__item">  <img src="/assets/Ebere_0.jpg" width="520" height="696" alt="ONONOGBO MARYTEDDY, EBERE (NEE IJEOMAH)" loading="lazy" typeof="foaf:Image" />

</div>
          </div>

    </div>

    <div class="col-lg-20">
      <a href="/personnel/ononogbo-maryteddy-ebere-nee-ijeomah" class=""><h4 ><span class="field field--name-title field--type-string field--label-hidden">ONONOGBO MARYTEDDY, EBERE (NEE IJEOMAH)</span>
</h4></a>
      <span>
  <div class="field field--name-field-personnel-role field--type-string field--label-visually_hidden">
    <div class="field__label visually-hidden">Role</div>
              <div class="field__item">Head of Monitoring and Evaluation Unit</div>
          </div>
</span>
      <div class="node__content">

            <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><b><i>ONONOGBO MARYTEDDY, EBERE (NEE IJEOMAH)</i></b> holds a Full Professional Diploma (FPD), Higher National Diploma (HND), and a National Diploma(ND) in Urban Regional Planning. Her working experience dates back to 1997 when she worked as a banker with DOMINUM BANK. There she gathered awesome experience in working to achieve her target with lot of commendations. Her dexterity and sense of service delivery won her accolades. She has served as a Technical Officer, PRO, Supervisor Eluama Orlu Water Scheme, Assistant Chief Technical Officer and <b><i>now the Head of Monitoring and Evaluation Unit</i></b> with the Imo State Water and Sewerage Corporation. As a supervisor, she re- organised work and activities in Eluama Water Scheme such that revenue generation shot up by 300%. Her sterling commitment to the achievement of corporate goals is a drive that has made her versatile and earned her high commendation in the Utility. Mrs Ononogbo is full of initiatives and loves innovations. As a PRO, she introduced “WATER FOR ALL” Radio Programme. She lives an amiable social life. She was the President Staff Welfare Association of Imo State water and Sewerage Corporation, and currently the President of Owerri Women Central Union and a Board Member Imo State Nigerian Red Cross Society.</p>
</div>

      </div>
    </div>
  </div>
</article>
</div>

    </div>

        <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="visually-hidden">Pagination</h4>
    <ul class="pager__items js-pager__items">
                                                        <li class="pager__item is-active">
                                          <a href="?page=0" title="Current page">
            <span class="visually-hidden">
              Current page
            </span>1</a>
        </li>
              <li class="pager__item">
                                          <a href="?page=1" title="Go to page 2">
            <span class="visually-hidden">
              Page
            </span>2</a>
        </li>
                                      <li class="pager__item pager__item--next">
          <a href="?page=1" title="Go to next page" rel="next">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next ›</span>
          </a>
        </li>
                          <li class="pager__item pager__item--last">
          <a href="?page=1" title="Go to last page">
            <span class="visually-hidden">Last page</span>
            <span aria-hidden="true">Last »</span>
          </a>
        </li>
          </ul>
  </nav>

          </div>
</div>

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>

     </div>
            <div class="col-lg-5">
           <div class="region region-sidebar2">
    <nav role="navigation" aria-labelledby="block-overviewmenu-menu" id="block-overviewmenu" class="block block-menu navigation menu--overview-menu">

  <h2 class="visually-hidden" id="block-overviewmenu-menu">Overview Menu</h2>



              <ul class="menu">
                    <li class="menu-item">
        <a href="/overview" data-drupal-link-system-path="node/2">Overview</a>
              </li>
                <li class="menu-item">
        <a href="/company-profile" data-drupal-link-system-path="node/37">Company Profile</a>
              </li>
                <li class="menu-item menu-item--active-trail">
        <a href="/management-team" data-drupal-link-system-path="management-team" class="is-active">Management Team</a>
              </li>
                <li class="menu-item">
        <a href="/faq" data-drupal-link-system-path="faq">FAQ</a>
              </li>
        </ul>



  </nav>

  </div>

       </div>
        </div>
  </div>
</div>

<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
                          <li  class="nav-item">
          <a class="nav-link" href="/user/login"
             target="_self"
          >Login</a>
        </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="active nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/assets/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>

            <section class="text-right">
                            <a href="https://www.facebook.com/groups/734689120305771/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://twitter.com/imo_water" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://www.instagram.com/imowater2022/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://www.linkedin.com/company/imo-state-water-and sewerage-corporation/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
             </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2022. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto"><a href="https://www.nobtechconsulting.com"> Designed by Nobtech Consulting Limited </a></div>
      </div>
    </div>
  </div>
</footer>

  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"management-team","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,core\/normalize,iswsc\/global-style,system\/base,views\/views.ajax,views\/views.module","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":[],"views":{"ajax_path":"\/views\/ajax","ajaxViews":{"views_dom_id:3829cf6dbce52fed36107b48f9b2821909d8c97492f3c3cc270e499faf9ee4e6":{"view_name":"management_team","view_display_id":"page_1","view_args":"","view_path":"\/management-team","view_base_path":"management-team","view_dom_id":"3829cf6dbce52fed36107b48f9b2821909d8c97492f3c3cc270e499faf9ee4e6","pager_element":0}}},"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_uzHTnMJuHRsq8FXZwN7ZXOrE7g7ly-K-_bsAL_ebMAc.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_nchtIN-SQZBWceJc7i4QyPMhiZJvN9N_fArN6MAA4GM.js"></script>

</body>
</html>
