
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/sites/default/files/l3.png" type="image/png" />
<link rel="canonical" href="https://iswsc.org.ng/article/official-two-day-visit-usaid-program-specialist-team-imo-state-water-and-sewerage" />
<link rel="shortlink" href="https://iswsc.org.ng/node/165" />
<link rel="revision" href="https://iswsc.org.ng/article/official-two-day-visit-usaid-program-specialist-team-imo-state-water-and-sewerage" />

    <title>THE OFFICIAL TWO DAY VISIT OF THE USAID PROGRAM SPECIALIST TEAM TO IMO STATE WATER AND SEWERAGE CORPORATION ON 19TH - 20TH APRIL 2022 | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_7z563M8AYRGAwzEQlJCZ-tU_w8SbHSV2PdLblPOMl08.css" />
<link rel="stylesheet" media="all" href="/css/css_hPGpvVRJHqqGhfMXHqjBFRpzLS5r_ymmSpXjt_BEeBc.css" />


        </head>
<body class="path-node page-node-type-article position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header position-relative">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/assets/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li>

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-20">
          <div class="region region-title">
    <div id="block-iswsc-page-title" class="block block-core block-page-title-block">



  <h1 class="page-title"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">THE OFFICIAL TWO DAY VISIT OF THE USAID PROGRAM SPECIALIST TEAM TO IMO STATE WATER AND SEWERAGE CORPORATION ON 19TH - 20TH APRIL 2022</span>
</h1>


  </div>

  </div>

      </div>
    </div>
  </div>
</section>
<div id="main_content" class="py-5" style="min-height:80vh">
  <div class="container">
    <div class="row justify-content-center">
            <div class="col-lg-15">
          <div class="region region-content">
    <div id="block-iswsc-content" class="block block-system block-system-main-block">



<article data-history-node-id="165" role="article" about="/article/official-two-day-visit-usaid-program-specialist-team-imo-state-water-and-sewerage" typeof="schema:Article" class="node mb-3 node--type-article node--view-mode-full clearfix">
  <header>

          <span property="schema:name" content="THE OFFICIAL TWO DAY VISIT OF THE USAID PROGRAM SPECIALIST TEAM TO IMO STATE WATER AND SEWERAGE CORPORATION ON 19TH - 20TH APRIL 2022" class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

  </header>
  <div class="node__content clearfix">

            <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>It has been a two day packed activity at the Imo State Water and Sewerage Corporation as the USAID Program Specialist Team led by  Joachim Ezeji (Contracting officer's Representive)/ WASH Specialist and Oladele Kolade (Environmental Specialist) visited the ISWSC Facility on Tuesday 19th - Wednesday 20th April 2022.</p>

<p>The aim of the visit was to follow up on where USAID E-WASH as implemented by RTI ended, and update us on USAID's plans on the already identified pending work. The pending work were already initially identified and included under the USAID Effective Water Sanitation and Hygiene Services (E-WASH) activity.</p>

<p>The transition started with a visit to the office of the Managing Director/ CEO of Imo State Water and Sewerage Corporation Engr. Emeka Ugoanyanwu FNSE FNIWE NPOM FOSHA KSJI where the visitors were given a warm welcome by the utility.</p>

<p>It immediately followed suit with the visit to the office of the Honorable Commissioner Ministry of Power and Water Resources Lady Anne Dozie. The USAID Program Specialist Team were given a warm welcome by the Honourable Commissioner as the COR took turns at explaining the aims of their visit.</p>

<p>In her response the Honorable Commissioner thanked the USAID Program Specialist Team led by COR Joachim Ezeji for the commitments of USAID Programs in Imo State. She urged both parties to work in synergy in the upcoming USAID Follow-Up program implementation in Imo State, and beckoned on all hands to be on deck in order to actualize the program.</p>

<p>Further on the visit was the trip to the Otamiri  Headworks where the program specialist team were taken through the low lift, the high lift, the aeration point, the flow metre, the laboratory etc.</p>

<p>The Day2 was basically centered on Discussion with the ISWSC management staff where a review of interventions for the next phase of the program was carried out.</p>

<p>The team also re-visited the Otamiri Headworks  where conclusive remarks were rendered by both parties and prayed for a fulfilling program ahead.</p>
</div>
        <div class="node__links">
    <ul class="links inline"><li class="comment-forbidden"><a href="/user/login?destination=/article/official-two-day-visit-usaid-program-specialist-team-imo-state-water-and-sewerage%23comment-form">Log in</a> or <a href="/user/register?destination=/article/official-two-day-visit-usaid-program-specialist-team-imo-state-water-and-sewerage%23comment-form">register</a> to post comments</li></ul>  </div>

  <div class="mfp-field mfp-all-items field field--name-field-image field--type-image field--label-above">
    <div class="field__label">Images</div>
          <div class="field__items">
              <div property="schema:image" class="field__item">  <a href="/assets/WhatsApp%20Image%202022-04-28%20at%209.15.22%20AM%282%29_3.jpeg"><img class="mfp-thumbnail image-style-max-325x325" src="/assets/WhatsApp%20Image%202022-04-28%20at%209.15.22%20AM%282%29_3.jpeg?itok=KnERLdqP" width="325" height="244" alt="Lab" loading="lazy" typeof="foaf:Image" />

</a>
</div>
          <div property="schema:image" class="field__item">  <a href="/assets/WhatsApp%20Image%202022-04-28%20at%209.15.22%20AM%281%29_11.jpeg"><img class="mfp-thumbnail image-style-max-325x325" src="/assets/WhatsApp%20Image%202022-04-28%20at%209.15.22%20AM%281%29_11.jpeg?itok=ypPa8FSP" width="325" height="244" alt="water plant" loading="lazy" typeof="foaf:Image" />

</a>
</div>
          <div property="schema:image" class="field__item">  <a href="/assets/WhatsApp%20Image%202022-04-28%20at%209.15.21%20AM%282%29_5.jpeg"><img class="mfp-thumbnail image-style-max-325x325" src="/assets/WhatsApp%20Image%202022-04-28%20at%209.15.21%20AM%282%29_5.jpeg?itok=SwD0stxk" width="325" height="244" alt="water front" loading="lazy" typeof="foaf:Image" />

</a>
</div>
              </div>
      </div>

  </div>
</article>

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>

      </div>
          </div>
  </div>
</div>

<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
                          <li  class="nav-item">
          <a class="nav-link" href="/user/login"
             target="_self"
          >Login</a>
        </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/assets/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>
            <section class="text-right">
                            <a href="https://web.facebook.com/groups/734689120305771" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://twitter.com" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="#" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://www.youtube.com/channel/UCn-PubTCr2hb_lvy6r1nILQ" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-youtube" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                        </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2021. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto">Designed by Vatebra Limited</div>
      </div>
    </div>
  </div>
</footer>

  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/165","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,classy\/node,core\/normalize,iswsc\/global-style,magnific_popup\/magnific_popup,system\/base","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":[],"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_uzHTnMJuHRsq8FXZwN7ZXOrE7g7ly-K-_bsAL_ebMAc.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_1hN_ByotE_hE1ffoVgT9csmy_RZqkek2FeATjRWHjGE.js"></script>

</body>
</html>
