
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/sites/default/files/l3.png" type="image/png" />
<link rel="canonical" href="https://iswsc.org.ng/node/156" />
<link rel="shortlink" href="https://iswsc.org.ng/node/156" />
<link rel="revision" href="https://iswsc.org.ng/node/156" />

    <title>DAY 2 OF THE 2-DAYS IN-HOUSE ORIENTATION PEOGRAM FOR STAFF OF IMO STATE WATER AND SEWERAGE CORPORATION HELD AT THE ISWSC RESOURCE CENTER ON 24TH NOVEMBER, 2021. | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_9m8-tA3IQf8ThlLQYTTZUyEweCvyR908Tg0XCbKYOfY.css" />
<link rel="stylesheet" media="all" href="/css/css_hPGpvVRJHqqGhfMXHqjBFRpzLS5r_ymmSpXjt_BEeBc.css" />


        </head>
<body class="path-node page-node-type-article position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header position-relative">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/assets/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li>

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-20">
          <div class="region region-title">
    <div id="block-iswsc-page-title" class="block block-core block-page-title-block">



  <h1 class="page-title"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">DAY 2 OF THE 2-DAYS IN-HOUSE ORIENTATION PEOGRAM FOR STAFF OF IMO STATE WATER AND SEWERAGE CORPORATION HELD AT THE ISWSC RESOURCE CENTER ON 24TH NOVEMBER, 2021.</span>
</h1>


  </div>

  </div>

      </div>
    </div>
  </div>
</section>
<div id="main_content" class="py-5" style="min-height:80vh">
  <div class="container">
    <div class="row justify-content-center">
            <div class="col-lg-15">
          <div class="region region-content">
    <div id="block-iswsc-content" class="block block-system block-system-main-block">



<article data-history-node-id="156" role="article" about="/node/156" typeof="schema:Article" class="node mb-3 node--type-article node--promoted node--view-mode-full clearfix">
  <header>

          <span property="schema:name" content="DAY 2 OF THE 2-DAYS IN-HOUSE ORIENTATION PEOGRAM FOR STAFF OF IMO STATE WATER AND SEWERAGE CORPORATION HELD AT THE ISWSC RESOURCE CENTER ON 24TH NOVEMBER, 2021." class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

  </header>
  <div class="node__content clearfix">

            <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>Today marks the second and final day of the orientation program, and hence;</p>

<p>Firstly, we wish to thank His Excellency Distinguished Senator Hope Uzodimma the Executive Governor of Imo State for his efforts to reposition the WASH sector of Imo state and his keen interest to put smiles on the face of every Imolite by ensuring the provision of safely managed water to the state.</p>

<p>Secondly, we wish to thank and acknowledge the efforts of our MD/CEO Engr. Emeka Ugoanyawu FNSE FNIWE NPOM FOSHA KSJI who have supported the actualization of the 2021 staff orientation program.</p>

<p>Furthermore, we wish to thank the Organizer of this year’s orientation program, The HOD Administration/ Human Resource Manager Mr. Zeph Osuji, Assisted by the PRO/ Head Communication Unit Assumpta Okorie (Mrs.)</p>

<p>The program started with an opening prayer led by Mr. Promise I. at exactly 9:26am which was snappily followed by the opening remarks by the Managing Director.</p>

<p>The moderator ushered in the resource person Emmanuel Adeyemi (State coordinator Imo/Anambra FIRS) who spoke on TAX and VAT Administration.</p>

<p>He started by introducing the concept of tax and the defining concept which enables us to understand that we have several taxes which could either comes as direct or indirect tax. However, there are still several taxes under direct tax ranging from income tax, security transaction tax, etc. while the indirect tax embodies other taxes such as goods and services tax.</p>

<p>The lecture also had a discuss on company income tax, Joint Venture Contract (JVC), Production Sharing Contract (PSC), Marginal Fields. The taxation on personal income tax in Nigeria was looked into as it covers taxation of employees, taxation of sole traders, taxation of partnership business, and taxation of estates, Trust of Settlements. He also looked into Non-Resident individuals as it concerns non-Nigerians doing business in Nigeria and its tax implications.</p>

<p>The Value Added Tax (VAT) was also addressed as it is a consumption tax borne by the final consumer of the product or service. The Sales Tax Act No 7 of 1986 was enacted for unification and avoids multiplicity of rates. The VAT decree was signed in August 1993, but commenced in January 1994. He also gave a brief on vatable goods and vatable services.</p>

<p>Are you aware that some groups are exempted from paying tax, this includes NGO’s, Diplomats, Churches(performing solely church returns) etc.</p>

<p>Furthermore, he looked into transaction that are zero rated, filing of VAT returns, MDA’s tax expectations and deductions, penalties and consequences for evasions and other tax related offences, as well as the distribution percentages of VAT revenue and withholding tax (its rates, documents, remittance, agents, exemptions and contents). Mr. Egwu Ogbonnaya from FIRS also complemented the lecture by reading an overview on taxation.</p>

<p>Still on the lecture series is a lecture by Mr Victor Okereke on BUDGETING IN A GOVERNMENT ORGANIZATION.<br />
He started by saying that budgeting is just about revenue and expenditure. It is an economic policy tool, an intended expenditure associated with expected revenue. The revenue which the state government generates is called Internally Generally Revenue IGR.<br />
Speaking on Expenditure, it is an act of spending or paying out which leads us to different expenditures in budget which includes Recurrent Expenditure and Capital Expenditure. He went in detail to explain budgeting process in Imo State, and state budgeting committee which interacts with the MDA’s to produce budget of the state. It is important we know that Imo state is practicing ministerial budgeting system.</p>

<p>In conclusion, he encouraged all participants to use the knowledge achieved in this orientation to achieve the set goals and objectives of the corporation.</p>

<p>Taking us further into the teachings was Mr Eutycus John ( State Team Lead STL) EWASH who gave a lecture on Organisational Development of Imo state water and sewerage corporation.<br />
He started by looking at the reasons why certain utilities are performing poorly, took a critical look at ISWSC as an organisation and went ahead to look at Development, as well as organisational issues. He also looked at reasons for change, characteristics and set objectives. The elements of an organisational development program as well as the system change or culture change, approach methodology and deliverables.</p>

<p>The condition for success of the organisational development should be a concern for every staff.<br />
He concluded by encouraging all staff to help improve the corporation in our levels of set KPI's of productivity to improve Organisational Development.</p>

<p>The Managing Director took over the program as he thanked everyone that has been present all through the program. In line with the lecture on Organizational Development, he has directed the Communication Unit to post all organizational developments weekly.<br />
Also speaking was Chief Dr. Ezeribe Okonkwo (HOD PLANNING) and Mrs. Ononogbo Maryteddy who both encouraged synergy in the corporation and the need to seat up. They encouraged all departments to work together as no single department can do it all alone. They also encouraged staff team work in order to achieve better productivity.</p>

<p>Progressively, the Managing Director spoke on the performance base analysis of where we are coming from and the stage at which we are now. He looked at certain disconnect in the current analytical scope of EWASH parameters and the expectation of implementation process, looking at water production and testing, we have been able to cover a lot but still struggling on distribution.</p>

<p>However, we will not have achieved the entire milestone without the support of EWASH and we are ever appreciative and hope for better days ahead.</p>

<p>Further on the training is a lecture by Mr. Joseph  Ogbonna, Assumpta Okorie (Mrs.), and Elizabeth E. on USAID Engendering Industries which supports gender equality. They spoke on the journey so far and how gender equality have started creating effects in Imo State Water And Sewage Corporation, the gender equality effects and difference between sex and gender as well as stereotypes.</p>

<p>On a lighter note Comrade Uche .N. (labour leader) thanked everyone that has participated in the programme as one of the essences of the programme is to change our mind-set. He also encouraged the implementation of the principle of synergy.</p>

<p>The HOD Admin/HR. Zeph Osuji expressed his happiness on the attendance of the orientation program and encouraged attitudinal change among all staff to improve productivity.</p>

<p>Rendering a vote of thanks, the newly employed staff was represented by Mr. Ben Nwoha who thanked the Managing Director and organizers for actualizing such a wonderful orientation program.</p>

<p>Finally the MD/CEO gave the closing remarks as he thanked His Excellency Distinguished Senator Hope Uzodimma The Executive Governor of Imo State for his interest to reposition the water sector and the WASH sector of Imo State.</p>

<p>The Closing prayer was led by Mr. Promise I. at exactly 2.00pm.</p>
</div>
        <div class="node__links">
    <ul class="links inline"><li class="comment-forbidden"><a href="/user/login?destination=/node/156%23comment-form">Log in</a> or <a href="/user/register?destination=/node/156%23comment-form">register</a> to post comments</li></ul>  </div>

  </div>
</article>

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>

      </div>
          </div>
  </div>
</div>

<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
                          <li  class="nav-item">
          <a class="nav-link" href="/user/login"
             target="_self"
          >Login</a>
        </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/sites/default/files/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>

            <section class="text-right">
                            <a href="https://www.facebook.com/groups/734689120305771/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://twitter.com/imo_water" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://www.instagram.com/imowater2022/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://www.linkedin.com/company/imo-state-water-and sewerage-corporation/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
             </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2022. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto"><a href="https://www.nobtechconsulting.com"> Designed by Nobtech Consulting Limited </a></div>
      </div>
    </div>
  </div>
</footer>

  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/156","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,classy\/node,core\/normalize,iswsc\/global-style,system\/base","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":[],"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_uzHTnMJuHRsq8FXZwN7ZXOrE7g7ly-K-_bsAL_ebMAc.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_sCp3tZrzXSnAO3VQMzHwYmk3utLfWrTWeeOcmqKPbdE.js"></script>

</body>
</html>
