
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/l3.png" type="image/png" />
<link rel="canonical" href="https://iswsc.org.ng/privacy-policy" />
<link rel="shortlink" href="https://iswsc.org.ng/node/53" />
<link rel="revision" href="https://iswsc.org.ng/privacy-policy" />

    <title>Privacy Policy | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_9m8-tA3IQf8ThlLQYTTZUyEweCvyR908Tg0XCbKYOfY.css" />
<link rel="stylesheet" media="all" href="/css/css_hPGpvVRJHqqGhfMXHqjBFRpzLS5r_ymmSpXjt_BEeBc.css" />


        </head>
<body class="path-node page-node-type-page position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header position-relative">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/assets/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <!-- <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li> -->

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-20">
          <div class="region region-title">
    <div id="block-iswsc-page-title" class="block block-core block-page-title-block">



  <h1 class="page-title"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">Privacy Policy</span>
</h1>


  </div>

  </div>

      </div>
    </div>
  </div>
</section>
<div id="main_content" class="py-5" style="min-height:80vh">
  <div class="container">
   <div class="row justify-content-center">
          <div class="col-lg-16">
         <div class="region region-content">
    <div id="block-iswsc-content" class="block block-system block-system-main-block">



<article data-history-node-id="53" role="article" about="/privacy-policy" typeof="schema:WebPage" class="node mb-3 node--type-page node--view-mode-full clearfix">
  <header>

          <span property="schema:name" content="Privacy Policy" class="rdf-meta hidden"></span>

  </header>
  <div class="node__content clearfix">

            <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p><b>1        ABOUT ISWSC</b></p>

<p>Imo State Water and Sewerage  Corporation was established in 1976 with a mandate of supplying drinking water to people living in urban and semi-urban areas of Imo state. Most of the Local Governments have semi-urban schemes located at their LGA headquarters. Imo State Water Corporation utilizes both surface and ground water sources.</p>

<p><b>2        INTRODUCTION</b></p>

<p>ISWSC conducts business in a responsible and sustainable manner and ensures customer information is securely collected, processed and stored based on business requirements. In furtherance to this and compliance with industry regulations, ISWSC has made appropriate documentation, which includes a privacy policy. ISWSC, therefore, provides notice about this policy, applicable procedures and identifies the purposes for which personal information is collected, used, processed, disclosed, retained and disposed of.</p>

<p>Throughout this Privacy Policy, we use the term “personal information or data” to describe information that can be associated with a specific person and can be used to identify that person. We do not consider personal information to include information that has been made anonymous so that it does not identify a specific user.</p>

<p><b>3        SCOPE AND CONSENT</b></p>

<p>As a Customer, you accept this Privacy Policy when you sign up for, access, or use our products, services, content, features, technologies or functions offered on our website and all related sites, applications, and services (collectively referred to as “ISWSC Services”).</p>

<p>This Privacy Policy is intended to govern the use of ISWSC Services by users (including, without limitation those who use these ISWSC Services in the daily course of their trade, practice or business) unless otherwise agreed through contract. Users reserve the right to exercise their data protection rights as listed under the Customer Data Protection Rights.</p>

<p><b>4        COLLECTION OF PERSONAL INFORMATION</b></p>

<p>We collect Personally Identifiable Information (PII), otherwise known as Personal Information or Personal Data. They include Name, email address, phone number, contact address, location data, device data, etc.</p>

<p><b>5        HOW WE COLLECT PERSONAL INFORMATION</b></p>

<p>Customers’ data is collected electronically and manually when they visit our website and register to use any of our services. This is collected electronically with exchanges between your system (Computer, Server, Mobile Device) or service provider’s system and our system.</p>

<p>We collect Customers’ data manually when they complete our product and services registration forms in registering to use any of our services. Similar data are also collected when customers or visitors’ visit our physical locations for inquiries or business relationships.</p>

<p>We collect information from or about customers from other sources, such as through your contact with us, including our Customer Support interfaces – email, portal, phone calls, social media, and other communication channels; Customer support teams, Customer response to surveys, Training programmes, Corporate Social Responsibility events, Promotional events, and interactions with members of the ISWSC Group or other companies (subject to their privacy policies and applicable law).</p>

<p>We may also obtain information about you from third parties such as credit bureaus and identity verification services.</p>

<p><b>6        HOW WE USE COLLECTED INFORMATION</b></p>

<p>We collect personal information to provide users of our services with a secure, smooth, efficient, and customized experience. Furthermore, the information collected may also be used to provide ISWSC Services and customer support; process transactions and send notices about your transactions; verify your identity, including during account creation and password reset processes; resolve disputes, collect fees, and troubleshoot problems; manage risk, or to detect, prevent, and/or remediate fraud or other potentially prohibited or illegal activities; detect, prevent or remediate violations of policies or applicable user agreements.</p>

<p>We also collect personal information to improve Services by customizing your user experience; measure the performance of the ISWSC Services and improve their content and layout; manage and protect our information technology infrastructure; provide targeted marketing and advertising, provide service update notices, and deliver promotional offers based on your communication preferences; contact you at any telephone number, by placing a voice call or through text (SMS) or email messaging; perform creditworthiness and solvency checks, and compare information for accuracy and verify it with third parties.</p>

<p>Additionally, we may contact you via electronic means to notify you regarding your account profile with us, to troubleshoot problems with your account profile, to resolve a dispute, to collect fees or monies owed, to poll your opinions through surveys or questionnaires, or as otherwise necessary to service your account. Furthermore, we may contact you to offer coupons, discounts, and promotions, and inform you about ISWSC Services or its group services.</p>

<p>Finally, we may contact you as necessary to enforce our policies, applicable law, or any agreement we may have with you. When contacting you via phone, to reach you as efficiently as possible we may use, and you consent to receive, auto dialed or prerecorded calls and text messages. Where applicable and permitted by law, you may decline to receive certain communications.</p>

<p><b>7        PROTECTION AND STORAGE OF PERSONAL INFORMATION</b></p>

<p>We store and process your personal information on our computers in Lagos, Nigeria and anywhere else where our facilities are located. We protect your information using physical, technical, and administrative security measures to reduce the risks of loss, misuse, unauthorized access, disclosure, and alteration.</p>

<p>Some of the safeguards we use are firewalls and data encryption, physical access controls to our data centers, and information access authorization controls. We have also taken additional measures by ensuring our system complies with industry information security standards.</p>

<p><b>8        MARKETING</b></p>

<p>We do not sell or rent your personal information to third parties for their marketing purposes without your explicit consent. We may combine customer’s information with information collected from other companies and use it to improve and personalize ISWSC Services, content, and advertising. We have also included an opportunity for customers that had initially subscribed to receiving notification or information about their activities in relation to the use of ISWSC’s service to unsubscribe or request to be removed from applicable databases.</p>

<p><b>9        SHARING PERSONAL INFORMATION WITH OTHER ISWSC USERS</b></p>

<p>We work with third parties, including merchants, to enable them to accept or send payments from or to Customers using ISWSC Services. In doing so, a third party may share information about customers with us, such as email address or mobile phone number, to inform such customers that a payment has been sent. We use this information to confirm that users are ISWSC customers and that ISWSC as a form of payment can be enabled, or to send customer notification of payment status. Also, we may oblige a request to validate that a customer transacts business with ISWSC.</p>

<p>ISWSC will not keep nor disclose your credit/debit card number or bank account number to anyone or with the third parties that offer or use ISWSC Services, except with customers’ express permission or if we are required to do so to comply with credit/debit card rules, a subpoena, or other legal processes.</p>

<p><b>10    SHARING PERSONAL INFORMATION WITH THIRD PARTIES</b></p>

<p>We may share customers’ personal information with:</p>

<p>Members of the ISWSC group to provide joint content, products, and services (such as registration, transactions and customer support), to help detect and prevent potentially illegal acts and violations of our policies, and to guide decisions about their products, services, and communications. This information will only be used for marketing communications only if customers have requested for the services.</p>

<p>Financial institutions that we partner with to jointly create and offer a product may only use this information to market ISWSC related products unless the customer has given consent for other uses.</p>

<p>Credit bureaus and collection agencies to report account information, as permitted by law.</p>

<p>Banking partners as required by credit/debit card association rules for inclusion on their list of terminated merchants.</p>

<p>Companies that we plan to merge with or are acquired by. (Should such a combination occur, we will require that the new combined entity follow this Privacy Policy with respect to customer personal information. Customers will receive prior notice if personal information would be used contrary to this policy).</p>

<p>Law enforcement, government officials, or other third parties pursuant to a subpoena, court order, or other legal process or requirement applicable to ISWSC or one of its affiliates; when we need to do so to comply with law or credit/debit card rules; or when we believe, in our sole discretion, that the disclosure of personal information is necessary to prevent physical harm or financial loss, to report suspected illegal activity or to investigate violations of our User Agreement.</p>

<p>Other unaffiliated third parties, for the following purposes:</p>

<ul>
	<li>Fraud Prevention and Risk Management: to help prevent fraud or assess and manage risk.</li>
	<li>Customer Service: for customer service purposes, including to help service your accounts or resolve disputes.</li>
	<li>Shipping: in connection with shipping and related services for purchases made using ISWSC Services.</li>
	<li>Legal Compliance: to help them comply with anti-money laundering and counter-terrorist financing verification requirements.</li>
	<li>Service Providers: to enable service providers under contract with us to support our business operations, such as fraud prevention, bill collection, marketing, customer service and technology services. Our contracts dictate that these service providers only use customer information in connection with the services they perform for us and not for their own benefit.</li>
</ul>

<p>Other third parties with your consent or direction to do so.</p>

<ul>
	<li>Please note that these third parties may be in other countries where the laws on processing personal information may be less stringent than in our country of primary jurisprudence.</li>
	<li>If customers open any of our products and services or related dealer or agent wallet accounts directly on a third-party website or via a third-party application, any information that is entered on such systems (and not directly on an ISWSC website) will be shared with the owner of the third-party website or application. These sites are governed by their own privacy policies and customers are encouraged to review their privacy policies before providing them with personal information. ISWSC is not responsible for the content or information practices of such third parties.</li>
</ul>

<p><b>11    CROSS BORDER TRANSFERS OF PERSONAL INFORMATION</b></p>

<p>ISWSC is committed to adequately protecting customers’ personal information regardless of where the data resides and to providing appropriate protection for where such data is transferred across borders, including outside of Nigeria. We have further taken measure to ensure our relationships are with countries that are governed by similar data protection regulation as we are, and further assessment of other entities are being taken to provide a reasonable assurance of the safety of customer’s information.</p>

<p><b>12    CUSTOMER DATA PROTECTION RIGHTS</b></p>

<p>Our customers have data protection rights and are entitled to the following:</p>

<p>The right to access – Customer has the right to request copies of their personal data. ISWSC may charge a fee for this service if it will require a substantial amount of resources to accomplish.</p>

<p>The right to rectification – Customers have the right to request that ISWSC correct any information they believe and have proven have been captured inaccurately. Customers also have the right to request ISWSC to complete the information they believe is incomplete.</p>

<p>The right to erasure – Customers have the right to request that ISWSC erase their personal data, under certain conditions. These conditions are not limited to regulatory requirements, law enforcement agencies, or where such action may cause disruption to our system.</p>

<p>The right to restrict processing – Customers have the right to request that ISWSC restrict the processing of their personal data, under certain conditions. (as above)</p>

<p>The right to object to processing – Customers have the right to object to Our Company’s processing of your personal data, under certain conditions. (as above)</p>

<p>The right to data portability – Customers have the right to request that ISWSC transfer the data that we have collected to another organization, or directly to them, under certain conditions. (as above)</p>

<p>Customer requests based on any of the rights above shall be handled between 2 to 4 working weeks. Customer may contact us by email or writing:</p>

<p>Email us at:  <a href="https://www.imowatersewg.org/contact">imowatercorporation@gmail.com</a></p>

<p>Call us at: <b>+234 803 341 0762</b></p>

<p>Write to us at: <b>Imo State Water Supply and Sewerage Corporation , </b>Okigwe Road, Imo State, Nigeria</p>

<p><b>13    THE USE OF COOKIES AND SIMILAR TECHNOLOGIES</b></p>

<p>When Customers access our websites or use ISWSC Services, we may place small data files on your computer or other devices. These data files may be cookies, pixel tags, “Flash cookies,” or other local storage provided by your browser or associated applications (collectively referred to as “Cookies”). These technologies are used to recognize users as customers; customize ISWSC Services, content, and advertising; measure promotional effectiveness; help ensure that account security is not compromised; mitigate risk and prevent fraud; and to promote trust and safety across ISWSC Services and related sites.</p>

<p>Users can freely decline our Cookies if the web browser or browser add-on permits unless our Cookies are required to prevent fraud or ensure the security of websites we control. However, declining our Cookies may interfere with users’ use of our websites and ISWSC Services.</p>

<p><b>14    PRIVACY POLICIES OF OTHER WEBSITES</b></p>

<p>This privacy policy applies to only ISWSC and not any other brands, though they are mentioned on our websites. Neither does it apply to our Merchants, Vendors, or other related partners.</p>

<p><b>15    CUSTOMER CONSENT</b></p>

<p>Please refer to the end of this notice for providing your consent.  Your consent to personal data collection and processing may be revoked by notifying us via our contact page. For users below the age of 16, the consent should be provided by the holder of parental responsibility of the child.</p>

<p>Please note, in case you choose to not provide us with the consent or withdraw the consent at any given point of time, we shall not be able to provide the services to you.</p>

<p><b>16    CHANGES TO OUR PRIVACY POLICY</b></p>

<p>We review our privacy policy periodically and when there is any substantial change to business or regulatory requirements. At the minimum, we shall review this annually and communicate via our communication channels such as Newsletter, on Website, Social Media Accounts.</p>

<p><b>17    HOW TO CONTACT US</b></p>

<p>Customers who have concerns, questions about the privacy policy or would like to exercise their protection rights can contact us through the following channels:</p>

<p>Email us at:  <a href="https://www.imowatersewg.org/contact">imowatercorporation@gmail.com</a></p>

<p>Call us at: <b>+234 803 341 0762</b></p>

<p>Write to us at: <b>Imo State Water Supply and Sewerage Corporation , </b>Okigwe Road, Imo State, Nigeria</p>

<p><b>18    DECLARATION</b></p>

<p>I have read all the terms and conditions within this Notice and hereby agree/ disagree to use of my personal data for above mentioned purposes.</p>
</div>

  </div>
</article>

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>

     </div>
        </div>
  </div>
</div>

<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
                          <li  class="nav-item">
          <a class="nav-link" href="https://webmail.iswscorp.org.ng/"
             target="_blank"
          >Email</a>
        </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/assets/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>
            <section class="text-right">
              <a href="https://www.facebook.com/groups/734689120305771/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://twitter.com/imo_water" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.instagram.com/imowater2022/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.linkedin.com/company/imo-state-water-and sewerage-corporation/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
</section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2023. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <!-- <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto"><a href="https://www.nobtechconsulting.com"> Designed by Nobtech Consulting Limited </a></div> -->
      </div>
    </div>
  </div>
</footer>

  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/53","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,classy\/node,core\/normalize,iswsc\/global-style,system\/base","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":[],"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_uzHTnMJuHRsq8FXZwN7ZXOrE7g7ly-K-_bsAL_ebMAc.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_sCp3tZrzXSnAO3VQMzHwYmk3utLfWrTWeeOcmqKPbdE.js"></script>

</body>
</html>
