
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/l3.png" type="image/png" />

    <title>Create new account | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_9m8-tA3IQf8ThlLQYTTZUyEweCvyR908Tg0XCbKYOfY.css" />
<link rel="stylesheet" media="all" href="/css/css_Tw3A7xxTe2J9wdHtd_NrFd5n8bdn4V36LPyuTAqrp1k.css" />

      <script src="/js/modernizr.min.js?v=3.8.0"></script>
<script src="/js/modernizr-additional-tests.js?v=3.8.0"></script>

        </head>
<body class="path-user position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header position-relative">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/assets/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <!-- <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li> -->

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-20">
          <div class="region region-title">
    <div id="block-iswsc-page-title" class="block block-core block-page-title-block">



  <h1 class="page-title">Create new account</h1>


  </div>

  </div>

      </div>
    </div>
  </div>
</section>
<div id="main_content" class="py-5" style="min-height:80vh">
  <div class="container">
   <div class="row justify-content-center">
          <div class="col-lg-16">
         <div class="region region-content">
    <div id="block-iswsc-local-tasks" class="block block-core block-local-tasks-block">


        <nav class="tabs" role="navigation" aria-label="Tabs">
        <h2 class="visually-hidden">Primary tabs</h2>
  <ul class="tabs primary"><li><a href="/user/login" data-drupal-link-system-path="user/login">Log in</a></li>
<li class="is-active"><a href="/user/register" data-drupal-link-system-path="user/register" class="is-active">Create new account<span class="visually-hidden">(active tab)</span></a></li>
<li><a href="/user/password" data-drupal-link-system-path="user/password">Reset your password</a></li>
</ul>

    </nav>
  </div>
<div id="block-iswsc-content" class="block block-system block-system-main-block">


      <form class="user-register-form user-form" data-user-info-from-browser data-drupal-selector="user-register-form" enctype="multipart/form-data" action="/user/register" method="post" id="user-register-form" accept-charset="UTF-8">
  <div data-drupal-selector="edit-account" id="edit-account" class="js-form-wrapper form-wrapper"><div class="js-form-item form-item js-form-type-email form-type-email js-form-item-mail form-item-mail">
      <label for="edit-mail" class="js-form-required form-required">Email address</label>
        <input data-drupal-selector="edit-mail" aria-describedby="edit-mail--description" type="email" id="edit-mail" name="mail" value="" size="60" maxlength="254" class="form-email required form-control" required="required" aria-required="true" />

            <div id="edit-mail--description" class="description">
      A valid email address. All emails from the system will be sent to this address. The email address is not made public and will only be used if you wish to receive a new password or wish to receive certain news or notifications by email.
    </div>
  </div>
<div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-name form-item-name">
      <label for="edit-name" class="js-form-required form-required">Username</label>
        <input class="username form-text required form-control" autocorrect="off" autocapitalize="off" spellcheck="false" data-drupal-selector="edit-name" aria-describedby="edit-name--description" type="text" id="edit-name" name="name" value="" size="60" maxlength="60" required="required" aria-required="true" />

            <div id="edit-name--description" class="description">
      Several special characters are allowed, including space, period (.), hyphen (-), apostrophe ('), underscore (_), and the @ sign.
    </div>
  </div>
</div>
<div class="field--type-image field--name-user-picture field--widget-image-image js-form-wrapper form-wrapper" data-drupal-selector="edit-user-picture-wrapper" id="edit-user-picture-wrapper"><div id="ajax-wrapper"><div class="js-form-item form-item js-form-type-managed-file form-type-managed-file js-form-item-user-picture-0 form-item-user-picture-0">
      <label for="edit-user-picture-0-upload" id="edit-user-picture-0--label">Picture</label>
        <div class="image-widget js-form-managed-file form-managed-file clearfix">
    <div class="image-widget-data">
        <input accept="image/*" data-drupal-selector="edit-user-picture-0-upload" type="file" id="edit-user-picture-0-upload" name="files[user_picture_0]" size="22" class="js-form-file form-file form-control" />
<input class="js-hide button js-form-submit form-submit btn btn-primary" data-drupal-selector="edit-user-picture-0-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-user-picture-0-upload-button" name="user_picture_0_upload_button" value="Upload" />
<input data-drupal-selector="edit-user-picture-0-fids" type="hidden" name="user_picture[0][fids]" class="form-control" />
<input data-drupal-selector="edit-user-picture-0-display" type="hidden" name="user_picture[0][display]" value="1" class="form-control" />

  </div>
</div>

            <div id="edit-user-picture-0--description" class="description">
      Your virtual face or picture.<br />One file only.<br />2 MB limit.<br />Allowed types: png gif jpg jpeg.

    </div>
  </div>
</div></div>
<input autocomplete="off" data-drupal-selector="form-xpi0k-kwourktsu1gdy-gpuaojo6prdqcsplmqv6cpw" type="hidden" name="form_build_id" value="form-xpi0k-kwOurKtSu1gdY-GpUaOjo6PRdqcsplmqV6Cpw" class="form-control" />
<input data-drupal-selector="edit-user-register-form" type="hidden" name="form_id" value="user_register_form" class="form-control" />
<details data-drupal-selector="edit-contact" id="edit-contact" class="js-form-wrapper form-wrapper" open="open">    <summary role="button" aria-controls="edit-contact" aria-expanded="true" aria-pressed="true">Contact settings</summary><div class="details-wrapper">
    <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-contact form-item-contact">
        <input data-drupal-selector="edit-contact" aria-describedby="edit-contact--2--description" type="checkbox" id="edit-contact--2" name="contact" value="1" checked="checked" class="form-checkbox form-check-inline" />

        <label for="edit-contact--2" class="option">Personal contact form</label>
          <div id="edit-contact--2--description" class="description">
      Allow other users to contact you via a personal contact form which keeps your email address hidden. Note that some privileged users such as site administrators are still able to contact you even if you choose to disable this feature.
    </div>
  </div>
</div>
</details>
<div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Create new account" class="button button--primary js-form-submit form-submit btn btn-primary" />
</div>

</form>

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>

     </div>
        </div>
  </div>
</div>

<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
    <li  class="nav-item">
      <a class="nav-link" href="https://webmail.iswscorp.org.ng/"
         target="_blank"
      >Email</a>
    </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/assets/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>

            <section class="text-right">
                            <a href="https://www.facebook.com/groups/734689120305771/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://twitter.com/imo_water" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://www.instagram.com/imowater2022/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
                                          <a href="https://www.linkedin.com/company/imo-state-water-and sewerage-corporation/" target="_blank" class="p-3 lh-0">
                <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
              </a>
             </section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2022. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto"><a href="https://www.nobtechconsulting.com"> Designed by Nobtech Consulting Limited </a></div>
      </div>
    </div>
  </div>
</footer>

  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"user\/register","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,core\/drupal.collapse,core\/jquery.form,core\/normalize,file\/drupal.file,iswsc\/global-style,system\/base","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":{"form_action_p_pvdeGsVG5zNF_XLGPTvYSKCf43t8qZYSwcfZl2uzM":true,"\/user\/register?element_parents=user_picture\/widget\/0\u0026ajax_form=1":true},"ajax":{"edit-user-picture-0-upload-button":{"callback":["Drupal\\file\\Element\\ManagedFile","uploadAjaxCallback"],"wrapper":"ajax-wrapper","effect":"fade","progress":{"type":"throbber","message":null},"event":"mousedown","keypress":true,"prevent":"click","url":"\/user\/register?element_parents=user_picture\/widget\/0\u0026ajax_form=1","dialogType":"ajax","submit":{"_triggering_element_name":"user_picture_0_upload_button","_triggering_element_value":"Upload"}}},"file":{"elements":{"#edit-user-picture-0-upload":"png,gif,jpg,jpeg"}},"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_uzHTnMJuHRsq8FXZwN7ZXOrE7g7ly-K-_bsAL_ebMAc.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_LBZMbhA5pEwwPNIj2CVZXNKMu-12gnaaI0bHZ_JufH0.js"></script>

</body>
</html>
