
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/sites/default/files/l3.png" type="image/png" />
<link rel="canonical" href="https://iswsc.org.ng/article/report-5-day-online-meeting-between-world-bank-and-imo-state-water-and-sewerage-corporation" />
<link rel="shortlink" href="https://iswsc.org.ng/node/161" />
<link rel="revision" href="https://iswsc.org.ng/article/report-5-day-online-meeting-between-world-bank-and-imo-state-water-and-sewerage-corporation" />

    <title>REPORT ON THE 5 DAY ONLINE MEETING BETWEEN THE WORLD BANK AND IMO STATE WATER AND SEWERAGE CORPORATION FROM 17TH - 21ST JANUARY, 2022. | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_9m8-tA3IQf8ThlLQYTTZUyEweCvyR908Tg0XCbKYOfY.css" />
<link rel="stylesheet" media="all" href="/css/css_hPGpvVRJHqqGhfMXHqjBFRpzLS5r_ymmSpXjt_BEeBc.css" />


        </head>
<body class="path-node page-node-type-article position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header position-relative">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/sites/default/files/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li>

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-20">
          <div class="region region-title">
    <div id="block-iswsc-page-title" class="block block-core block-page-title-block">



  <h1 class="page-title"><span property="schema:name" class="field field--name-title field--type-string field--label-hidden">REPORT ON THE 5 DAY ONLINE MEETING BETWEEN THE WORLD BANK AND IMO STATE WATER AND SEWERAGE CORPORATION FROM 17TH - 21ST JANUARY, 2022.</span>
</h1>


  </div>

  </div>

      </div>
    </div>
  </div>
</section>
<div id="main_content" class="py-5" style="min-height:80vh">
  <div class="container">
    <div class="row justify-content-center">
            <div class="col-lg-15">
          <div class="region region-content">
    <div id="block-iswsc-content" class="block block-system block-system-main-block">



<article data-history-node-id="161" role="article" about="/article/report-5-day-online-meeting-between-world-bank-and-imo-state-water-and-sewerage-corporation" typeof="schema:Article" class="node mb-3 node--type-article node--promoted node--view-mode-full clearfix">
  <header>

          <span property="schema:name" content="REPORT ON THE 5 DAY ONLINE MEETING BETWEEN THE WORLD BANK AND IMO STATE WATER AND SEWERAGE CORPORATION FROM 17TH - 21ST JANUARY, 2022." class="rdf-meta hidden"></span>
  <span property="schema:interactionCount" content="UserComments:0" class="rdf-meta hidden"></span>

  </header>
  <div class="node__content clearfix">

            <div property="schema:text" class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item"><p>The past 5days has been quite tasking for all staff of the Imo State Water and Sewerage Corporation as the ISWSC was engaged in several sessions of meetings by the World Bank in regards to the SURWASH Program.</p>

<p>The interactive meeting which started on Monday 17th - Friday 21st January 2022, was to determine the current level of Imo State Water and Sewerage Corporation Data Base and to ascertain the desired level which the ISWSC want to attain in the next five years of the   project as well as the Utility of the future ( UoF)  for ISWSC.<br />
Furthermore, the five day session was also a diagnostic meeting to properly situate the baseline level at the corporation and to forecast the UoF as envisaged or desired by ISWSC. In other words, the session diagnosed the current status which is the baseline as well as establishing strategies  to achieve the desired status or level.</p>

<p>The meeting which preceded session after session encompassed the various Departments and Units of the ISWSC.</p>

<p>Monday 17th January featured the General Meeting where the MD CEO ISWSC Engr Emeka Ugoanyawu FNSE FNIWE NPOM FOSHA KSJI was the Focal Person in the discussion. At the session, the modalities of the meetings was explained to all participants as it had 25 participants in attendance.</p>

<p>Tuesday 18th featured Commercial, Wastewater , and Operations. The Commercial whose Focal Person was the Head of Commercial Department centered on Commercial Operations, while the Sanitation, Water Quality, Water Services and Engineering whose Heads of Departments were the Focal Person's centered on Technical Operations. It had 18 staff in attendance.</p>

<p>Wednesday the 19th featured Financial Operations which is basically focusing around the Accounts Department. The session also looks into the stands of the account operations for the Corporation at the moment and where it intends to be in the future.</p>

<p>Thursday the 20th was not any different as it also looks into the Human Resources Operations. It involved the Administrative/ HR Department of ISWSC whose Focal Person is the HOD of the Admin/HR Department and had 20 participating Staff in attendance.</p>

<p>The final session was held on Friday 21st January 2022 which centered on Organizational Strategy. It involved the Planning Department and Procurement Department of ISWSC whose Focal Persons are the Head of Planning Department and the M&amp;E Officer. It had 18 participating Staff in attendance.</p>

<p>The Organizational Strategy marked the end of the Data Base analysis with the World Bank as they promised to  send the final copy of the report to ISWSC for review and return back the document latest 25th January, 2022.</p>

<p>However it is pertinent to note that in order to attain the heights as indicated by ISWSC in the UoF to be either Good or World class, it requires a lot of hard work, hence the MD CEO ISWSC Engr Emeka Ugoanyawu FNSE FNIWE NPOM FOSHA KSJI conclusively encouraged all staff to seat up and be ready to work hard to enable the utility attain a World Class standard.</p>
</div>
        <div class="node__links">
    <ul class="links inline"><li class="comment-forbidden"><a href="/user/login?destination=/article/report-5-day-online-meeting-between-world-bank-and-imo-state-water-and-sewerage-corporation%23comment-form">Log in</a> or <a href="/user/register?destination=/article/report-5-day-online-meeting-between-world-bank-and-imo-state-water-and-sewerage-corporation%23comment-form">register</a> to post comments</li></ul>  </div>

  </div>
</article>

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>

      </div>
          </div>
  </div>
</div>

<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
                          <li  class="nav-item">
          <a class="nav-link" href="/user/login"
             target="_self"
          >Login</a>
        </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/sites/default/files/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>
            <section class="text-right">
              <a href="https://www.facebook.com/groups/734689120305771/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://twitter.com/imo_water" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.instagram.com/imowater2022/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.linkedin.com/company/imo-state-water-and sewerage-corporation/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
</section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2022. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto"><a href="https://www.nobtechconsulting.com"> Designed by Nobtech Consulting Limited </a></div>
      </div>
    </div>
  </div>
</footer>

  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node\/161","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,classy\/node,core\/normalize,iswsc\/global-style,system\/base","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":[],"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_uzHTnMJuHRsq8FXZwN7ZXOrE7g7ly-K-_bsAL_ebMAc.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_sCp3tZrzXSnAO3VQMzHwYmk3utLfWrTWeeOcmqKPbdE.js"></script>

</body>
</html>
