
<!DOCTYPE html>
<html lang="en" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# " style="scroll-behavior: smooth;font-size: 14px">
<head>
  <meta charset="utf-8" />
<style>    .section1 {
      background-color:#ffffff;color:black;text-align:left;padding:0;
  }  .section2 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section3 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section4 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .section5 {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }  .footer {
      background-color:#ffffff;color:black;text-align:left;padding:20px;
  }</style>
<meta name="Generator" content="Drupal 9 (https://www.drupal.org)" />
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="shortcut icon" href="/assets/l3.png" type="image/png" />

    <title>Videos | Imo State Water Supply and Sewerage Corporation</title>
    <link rel="stylesheet" media="all" href="/css/css_8nmnHWOuGYNw_XU3_hMcyEL4JT1e9IYMZ6zSuY9q9z4.css" />
<link rel="stylesheet" media="all" href="/css/css_XT9ueGORcRIPmvRmdHO3Gbbub7J9ecE5zsYEyIz9d_c.css" />


        </head>
<body class="path-videos position-relative" data-spy="scroll" data-target="#navbar" data-offset="50">
<a href="#main-content" class="visually-hidden focusable skip-link">
  Skip to main content
</a>

  <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <header id="header position-relative">
  <nav class="navbar navbar-expand-md navbar-primary">
    <div class="container">
      <a class="navbar-brand" href="/">
                  <img src="/assets/full-lg_0.png" alt="Imo State Water Supply and Sewerage Corporation" style="width: 206px"/>
              </a>
      <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
              data-target="#navbarCollapse" aria-controls="navbarCollapse"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="region region-primary-menu">
    <nav role="navigation" aria-labelledby="block-iswsc-main-menu-menu" id="block-iswsc-main-menu" class="block block-menu navigation menu--main">

  <h2 class="visually-hidden" id="block-iswsc-main-menu-menu">Main navigation</h2>




  <ul id="navbar" class="navbar-nav ml-auto">
                                      <li  class="nav-item">
          <a class='nav-link' href="/"
             target="_self"
          >Home</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="/node/1" target="_self"
            data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">About</span>


                <a class="dropdown-item" href="/overview"
                   target="_self"
                >Overview</a>




                <a class="dropdown-item" href="/company-profile"
                   target="_self"
                >Company Profile</a>




                <a class="dropdown-item" href="/management-team"
                   target="_self"
                >Management Team</a>




                <a class="dropdown-item" href="/faq"
                   target="_self"
                >FAQ</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Services</span>


                <a class="dropdown-item" href="/transmission-network-map"
                   target="_self"
                >Water Supply</a>




                <a class="dropdown-item" href="/sanitation"
                   target="_self"
                >Sewerage/Sanitation</a>




                <a class="dropdown-item" href="/iswc-reticulation-map"
                   target="_self"
                >Coverage/Reticulation Map</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/news"
             target="_self"
          >News</a>
        </li>

                              <li class="nav-item dropdown">
          <a  class="active dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Media
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Media</span>


                <a class="dropdown-item" href="/gallery"
                   target="_self"
                >Gallery</a>




                <a class="dropdown-item" href="/library"
                   target="_self"
                >Library</a>




                <a class="dropdown-item" href="/videos"
                   target="_self"
                >Videos</a>




                <a class="dropdown-item" href="/advertisement"
                   target="_self"
                >Advertisement</a>


                      </div>
        </li>

                              <li class="nav-item dropdown">
          <a  class="dropdown-toggle nav-link"
            href="" target="_self"
            data-toggle="dropdown">
            Customer
          </a>
          <div class="dropdown-menu" aria-labelledby="">
            <span class="dropdown-header" style="padding-left: 22px;color: #aaa;font-weight: 600;display:none">Customer</span>


                <a class="dropdown-item" href="https://urbanwash.ng/"
                   target="_blank"
                >Pay</a>




                <a class="dropdown-item" href="/water-schemes"
                   target="_self"
                >Find Station</a>




                <a class="dropdown-item" href="/tariffs"
                   target="_self"
                >Tariffs</a>


                      </div>
        </li>

                                      <li  class="nav-item">
          <a class='nav-link' href="/contact"
             target="_self"
          >Contact Us</a>
        </li>

                                      <!-- <li  class="nav-item">
          <a class='nav-link' href="/user/login"
             target="_self"
          >Login</a>
        </li> -->

      </ul>




  </nav>

  </div>

      </div>
    </div>
  </nav>
</header>

<section class="py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-20">
          <div class="region region-title">
    <div id="block-iswsc-page-title" class="block block-core block-page-title-block">



  <h1 class="page-title">Videos</h1>


  </div>

  </div>

      </div>
    </div>
  </div>
</section>
<div id="main_content" class="py-5" style="min-height:80vh">
  <div class="container">
   <div class="row justify-content-center">
          <div class="col-lg-16">
         <div class="region region-content">
    <div id="block-iswsc-content" class="block block-system block-system-main-block">


      <div class="views-element-container"><div class="view view-videos view-id-videos view-display-id-page_1 js-view-dom-id-356219456183aab287b21a3ec25200e553cef17bcbed87ead0d4ac603bada434">



      <div class="view-content">
      <div class="views-view-grid horizontal cols-3 clearfix">
            <div class="row">
                  <div class="col-lg-10 mb-5"><div class="views-field views-field-name"><span class="field-content">Our water delivery services is in line with international practices - Imo State Water Corporation</span></div><div class="views-field views-field-field-media-oembed-video"><div class="field-content"><iframe src="/url=https%3A//www.youtube.com/watch%3Fv%3DZZFM4SEMthQ&amp;max_width=0&amp;max_height=0&amp;hash=f0azoSCTShzL6BSqEV1GKU-DBN1kqt8Uxo6LYsnG__o" frameborder="0" allowtransparency width="200" height="113" class="media-oembed-content" title="Our water delivery services is in line with international practices - Imo State Water Corporation"></iframe>
</div></div></div>
                  <div class="col-lg-10 mb-5"><div class="views-field views-field-name"><span class="field-content">I want to create impact in Imo Water Corporation dominated by men - Edith Akunjuobi</span></div><div class="views-field views-field-field-media-oembed-video"><div class="field-content"><iframe src="/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3D51hlOt9_evw&amp;max_width=0&amp;max_height=0&amp;hash=Sq5WBTIUlALG9yL7MxfBMZsmlGf2PN0hwyCM7VZFDAc" frameborder="0" allowtransparency width="200" height="113" class="media-oembed-content" title="I want to create impact in Imo Water Corporation dominated by men - Edith Akunjuobi"></iframe>
</div></div></div>
                  <div class="col-lg-10 mb-5"><div class="views-field views-field-name"><span class="field-content">Women: Achieving a goal isn’t about exerting physical energy – Mary Amadi</span></div><div class="views-field views-field-field-media-oembed-video"><div class="field-content"><iframe src="/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3DvTa2k1EXTNE&amp;max_width=0&amp;max_height=0&amp;hash=ajhZjUaI9F-zWeGo4IkywQYsZ7RRG09JcP8eZ0iccGo" frameborder="0" allowtransparency width="200" height="113" class="media-oembed-content" title="Women: Achieving a goal isn’t about exerting physical energy – Mary Amadi"></iframe>
</div></div></div>
              </div>
          <div class="row">
                  <div class="col-lg-10 mb-5"><div class="views-field views-field-name"><span class="field-content">How USAID funded EWASH has brought new innovations, clean water to Imo state indigenes</span></div><div class="views-field views-field-field-media-oembed-video"><div class="field-content"><iframe src="/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3DYhShS_8Q_OQ&amp;max_width=0&amp;max_height=0&amp;hash=1V-FA0rn6SoeyE9soJoExFaraJGW9sI5K9CSPCa3TPg" frameborder="0" allowtransparency width="200" height="113" class="media-oembed-content" title="How USAID funded EWASH has brought new innovations, clean water to Imo state indigenes"></iframe>
</div></div></div>
                  <div class="col-lg-10 mb-5"><div class="views-field views-field-name"><span class="field-content">How my statistics collation help simplify work process in Imo State Water and Sewerage Corporation</span></div><div class="views-field views-field-field-media-oembed-video"><div class="field-content"><iframe src="/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3DPQLdipuBf9o&amp;max_width=0&amp;max_height=0&amp;hash=oc9KNliEC-zU78KLASBxHDLNTHanXYAYa9DgxecclfU" frameborder="0" allowtransparency width="200" height="113" class="media-oembed-content" title="How my statistics collation help simplify work process in Imo State Water and Sewerage Corporation"></iframe>
</div></div></div>
                  <div class="col-lg-10 mb-5"><div class="views-field views-field-name"><span class="field-content">How we intend to work in line with state govt&#039;s plan for sanitation in Imo</span></div><div class="views-field views-field-field-media-oembed-video"><div class="field-content"><iframe src="/media/oembed?url=https%3A//www.youtube.com/watch%3Fv%3Dg67DFvZ_Ax8&amp;max_width=0&amp;max_height=0&amp;hash=ofWIMKm91qnYNFyAfZgJhTa1COpnKdMTZLkja04ZZWQ" frameborder="0" allowtransparency width="200" height="113" class="media-oembed-content" title="How we intend to work in line with state govt&#039;s plan for sanitation in Imo"></iframe>
</div></div></div>
              </div>
      </div>

    </div>

        <nav class="pager" role="navigation" aria-labelledby="pagination-heading">
    <h4 id="pagination-heading" class="pager__heading visually-hidden">Pagination</h4>
    <ul class="pager__items js-pager__items">
                    <li class="pager__item is-active">
          Page 1        </li>
                    <li class="pager__item pager__item--next">
          <a href="/videos?page=1" title="Go to next page" rel="next">
            <span class="visually-hidden">Next page</span>
            <span aria-hidden="true">Next</span>
          </a>
        </li>
          </ul>
  </nav>

          </div>
</div>

  </div>
<div data-drupal-messages-fallback class="hidden"></div>

  </div>

     </div>
        </div>
  </div>
</div>

<span id="toTop" class="toTop" onclick="window.scrollTo({top: 0,left: 0,behavior: 'smooth'})">
    <svg width="40" height="37" viewBox="0 0 40 37" fill="none" xmlns="http://www.w3.org/2000/svg" class="img-fluid">
        <path d="M20 0.999999L39 15.6512M20 0.999999L0.999999 15.6512M20 0.999999L20 37" stroke="#FDFDFD"/>
    </svg>
</span>

<nav class="navbar link-white d-lg-block nav-blue p-0">
  <div class="container">
    <div class="row justify-content-center justify-content-lg-end w-100">
      <div class="">
          <div class="region region-secondary-menu">
    <nav role="navigation" aria-labelledby="block-general-menu" id="block-general" class="block block-menu navigation menu--general">

  <h2 class="visually-hidden" id="block-general-menu">General</h2>




  <ul id="" class="nav">
    <li  class="nav-item">
      <a class="nav-link" href="https://webmail.iswscorp.org.ng/"
         target="_blank"
      >Email</a>
    </li>
      </ul>




  </nav>

  </div>

      </div>
    </div>
  </div>
</nav>

<nav class="navbar link-white nav-dark-gray p-0">
  <div class="container">
    <div class="row  w-100">
        <div class="region region-third-menu">
    <nav role="navigation" aria-labelledby="block-gray-menu" id="block-gray" class="block block-menu navigation menu--gray">

  <h2 class="visually-hidden" id="block-gray-menu">Gray</h2>




  <ul id="" class="nav  d-flex justify-content-between w-100">
                      <li  class="nav-item">
        <a class="nav-link" href="/management-team"
           target="_self"
        >Know your Managers</a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Ask Questions </a>
      </li>
                      <li  class="nav-item">
        <a class="nav-link" href="/contact"
           target="_self"
        >Report a Problem</a>
      </li>
      </ul>




  </nav>

  </div>

    </div>
  </div>
</nav>

<footer class="footer py-3" style="background: #124967">
  <div class="container py-3">
    <div class="row">
      <div class="col-lg-30">
        <div class="row justify-content-between">
          <div class="col-lg-6">
                        <a class="navbar-brand mb-5" href="/">
              <img src="/assets/wh-lg.png" alt="Imo State Water Supply and Sewerage Corporation" style="height: 40px"/>
            </a>
                      </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer1">
    <nav role="navigation" aria-labelledby="block-iswsc-footer-menu" id="block-iswsc-footer" class="block block-menu navigation menu--footer">

  <h2 id="block-iswsc-footer-menu">Partnering for Success</h2>




<nav class="nav footer-nav flex-column">
              <a class="nav-link" href="https://urbanwash.ng/"
             target="_blank"
          >Pay</a>
              <a class="nav-link" href="/advertisement"
             target="_self"
          >Advertisement</a>
              <a class="nav-link" href="https://imoconnectwithwash.com/"
             target="_blank"
          >Connect With Wash</a>
    </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-6 mb-5">
              <div class="region region-footer2">
    <nav role="navigation" aria-labelledby="block-footertwo-menu" id="block-footertwo" class="block block-menu navigation menu--footer-two">

  <h2 id="block-footertwo-menu">Site</h2>




  <nav class="nav footer-nav flex-column">
          <a class="nav-link" href="/contact"
         target="_self"
      >Contact Us</a>
          <a class="nav-link" href="/water-schemes"
         target="_self"
      >Find Station</a>
          <a class="nav-link" href="/privacy-policy"
         target="_self"
      >Privacy Policy</a>
          <a class="nav-link" href="/tariffs"
         target="_self"
      >Tariffs</a>
      </nav>




  </nav>

  </div>

          </div>

          <div class="col-lg-8 mb-3">
            <section class="p-2">

            </section>
            <section class="text-right">
              <a href="https://www.facebook.com/groups/734689120305771/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-facebook" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://twitter.com/imo_water" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-twitter" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.instagram.com/imowater2022/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-instagram" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
                            <a href="https://www.linkedin.com/company/imo-state-water-and sewerage-corporation/" target="_blank" class="p-3 lh-0">
  <ion-icon name="logo-linkedin" style="width: 1.5em;height: 1.5em"></ion-icon>
</a>
</section>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="footer-bottom text-white" style="background: #124967">
    <div class="container">
      <div class="row">
        <div class="col-lg-18 align-items-center d-flex">
                    <span class="py-1 d-md-inline">
                      &copy; 2022. ISWSC. All Rights Reserved.
                    </span>
        </div>
        <!-- <div class="col-lg-12 align-items-center justify-content-end d-flex ml-auto"><a href="https://www.nobtechconsulting.com"> Designed by Nobtech Consulting Limited </a></div> -->
      </div>
    </div>
  </div>
</footer>

  </div>


<script type="application/json" data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"videos","currentPathIsAdmin":false,"isFront":false,"currentLanguage":"en"},"pluralDelimiter":"\u0003","suppressDeprecationErrors":true,"ajaxPageState":{"libraries":"classy\/base,classy\/messages,core\/normalize,iswsc\/global-style,media\/oembed.formatter,system\/base,views\/views.ajax,views\/views.module","theme":"iswsc","theme_token":null},"ajaxTrustedUrl":[],"views":{"ajax_path":"\/views\/ajax","ajaxViews":{"views_dom_id:356219456183aab287b21a3ec25200e553cef17bcbed87ead0d4ac603bada434":{"view_name":"videos","view_display_id":"page_1","view_args":"","view_path":"\/videos","view_base_path":"videos","view_dom_id":"356219456183aab287b21a3ec25200e553cef17bcbed87ead0d4ac603bada434","pager_element":0}}},"user":{"uid":0,"permissionsHash":"6c28702811ab470d74c689356dbe4766e7ffe0f012800efc1b0e11f8cb37dd45"}}</script>
<script src="/js/js_uzHTnMJuHRsq8FXZwN7ZXOrE7g7ly-K-_bsAL_ebMAc.js"></script>
<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
<script src="/js/js_nchtIN-SQZBWceJc7i4QyPMhiZJvN9N_fArN6MAA4GM.js"></script>

</body>
</html>
